prepare/template.yaml
AWSTemplateFormatVersion: "2010-09-09"
Transform: AWS::Serverless-2016-10-31
Description: Unified SAM template defining downloader/updater Lambdas + AWS Step Functions (Express) workflow with SQS and Lambda

Parameters:
  EnvironmentName:
    Description: An environment name that is prefixed to resource names
    Type: String
    Default: MWAAEnvironment

  # Parameters for new Step Functions workflow (replaces Airflow UI variables as deployment inputs)
  ElephantDomain:
    Description: Elephant API domain for submit step
    Type: String
    Default: ""
  ElephantApiKey:
    Description: Elephant API key
    Type: String
    NoEcho: true
    Default: ""
  ElephantOracleKeyId:
    Description: Elephant oracle key id
    Type: String
    Default: ""
  ElephantFromAddress:
    Description: From address for blockchain submission
    Type: String
    Default: ""
  ElephantRpcUrl:
    Description: RPC URL for blockchain submission
    Type: String
    Default: ""
  ElephantPinataJwt:
    Description: Pinata JWT for uploads
    Type: String
    NoEcho: true
    Default: ""
  TransformS3Prefix:
    Description: S3 URI prefix containing county transform archives
    Type: String
  ElephantKeystoreS3Key:
    Description: S3 key for keystore JSON file (when using keystore mode)
    Type: String
    Default: ""
  ElephantKeystorePassword:
    Description: Password for keystore file (when using keystore mode)
    Type: String
    NoEcho: true
    Default: ""
  WorkflowQueueName:
    Description: Name for the Step Functions SQS trigger queue
    Type: String
    Default: elephant-workflow-queue
  LeePermitsWorkflowQueueName:
    Description: Name for the lee-permits Step Functions SQS trigger queue
    Type: String
    Default: elephant-lee-permits-queue
  WorkflowStarterReservedConcurrency:
    Description: Max concurrent SQS messages to process via EventSourceMapping ScalingConfig
    Type: Number
    Default: 100
  WorkflowStateMachineName:
    Description: Name for the Express Step Functions state machine
    Type: String
    Default: ElephantExpressWorkflow

  # Prepare function flags (only applied if set to 'true')
  ElephantPrepareUseBrowser:
    Description: Force browser mode for prepare function
    Type: String
    Default: "false"
    AllowedValues:
      - "true"
      - "false"
  ElephantPrepareNoFast:
    Description: Disable fast mode for prepare function
    Type: String
    Default: "false"
    AllowedValues:
      - "true"
      - "false"
  ElephantPrepareNoContinue:
    Description: Disable continue mode for prepare function
    Type: String
    Default: "false"
    AllowedValues:
      - "true"
      - "false"

  ElephantPrepareContinueButton:
    Description: CSS selector for continue button in prepare function
    Type: String
    Default: ""

  ElephantPrepareBrowserFlowTemplate:
    Description: Browser flow template for prepare function (must be provided with ElephantPrepareBrowserFlowParameters)
    Type: String
    Default: ""
  ElephantPrepareBrowserFlowParameters:
    Description: Browser flow parameters JSON for prepare function (must be provided with ElephantPrepareBrowserFlowTemplate)
    Type: String
    Default: ""

  UpdaterScheduleRate:
    Description: How often the updater function runs (e.g., '1 minute', '5 minutes', or 'cron(*/1 * * * ? *)' for every minute)
    Type: String
    Default: "1 minute"
    AllowedPattern: "^([0-9]+ (minute|minutes|hour|hours|day|days)|cron\\(.+\\))$"

Conditions:
  IsRateExpression:
    !Not [!Equals [!Select [0, !Split ["(", !Ref UpdaterScheduleRate]], "cron"]]

Globals:
  Function:
    Runtime: nodejs22.x
    Timeout: 300
    Tracing: Active

Resources:
  #####################################################################################################################
  # EnvironmentBucket
  #####################################################################################################################

  EnvironmentBucket:
    Type: AWS::S3::Bucket
    Properties:
      LifecycleConfiguration:
        Rules:
          - Id: DeleteOutputs
            Status: Enabled
            ExpirationInDays: 14
            Prefix: outputs/
      VersioningConfiguration:
        Status: Enabled
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true

  EnvironmentBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref EnvironmentBucket
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Sid: AllowDownloaderLambdaAccess
            Effect: Allow
            Principal:
              AWS: !GetAtt DownloaderFunctionRole.Arn
            Action:
              - s3:GetObject
              - s3:PutObject
              - s3:ListBucket
            Resource:
              - !GetAtt EnvironmentBucket.Arn
              - !Sub "${EnvironmentBucket.Arn}/*"

  #####################################################################################################################
  # SQS (DLQ + primary) + QueuePolicy for S3 events
  #####################################################################################################################

  MwaaDeadLetterQueue:
    Type: AWS::SQS::Queue
    Properties:
      MessageRetentionPeriod: 1209600
      VisibilityTimeout: 300
      SqsManagedSseEnabled: true
      Tags:
        - Key: Environment
          Value: !Ref EnvironmentName

  MwaaSqsQueue:
    Type: AWS::SQS::Queue
    Properties:
      VisibilityTimeout: 300
      MessageRetentionPeriod: 1209600
      SqsManagedSseEnabled: true
      RedrivePolicy:
        deadLetterTargetArn: !GetAtt MwaaDeadLetterQueue.Arn
        maxReceiveCount: 3
      Tags:
        - Key: Environment
          Value: !Ref EnvironmentName

  MwaaSqsQueuePolicy:
    Type: AWS::SQS::QueuePolicy
    Properties:
      Queues:
        - !Ref MwaaSqsQueue
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Sid: AllowS3ToSendMessage
            Effect: Allow
            Principal:
              Service: s3.amazonaws.com
            Action:
              - sqs:SendMessage
            Resource: !GetAtt MwaaSqsQueue.Arn

  #####################################################################################################################
  # Serverless Functions
  #####################################################################################################################
  DownloaderFunction:
    Type: AWS::Serverless::Function
    Properties:
      EphemeralStorage:
        Size: 1024
      MemorySize: 768
      CodeUri: lambdas/downloader
      Handler: index.handler
      Description: "Downloads data (granted full S3 access as requested)"
      Environment:
        Variables:
          ELEPHANT_PREPARE_USE_BROWSER: !Ref ElephantPrepareUseBrowser
          ELEPHANT_PREPARE_NO_FAST: !Ref ElephantPrepareNoFast
          ELEPHANT_PREPARE_NO_CONTINUE: !Ref ElephantPrepareNoContinue
          ELEPHANT_PREPARE_CONTINUE_BUTTON: !Ref ElephantPrepareContinueButton
          ELEPHANT_PREPARE_BROWSER_FLOW_TEMPLATE: !Ref ElephantPrepareBrowserFlowTemplate
          ELEPHANT_PREPARE_BROWSER_FLOW_PARAMETERS: !Ref ElephantPrepareBrowserFlowParameters
      Policies:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AmazonS3FullAccess

  UpdaterFunction:
    Type: AWS::Serverless::Function
    Properties:
      MemorySize: 128
      CodeUri: lambdas/updater
      Handler: index.handler
      Description: "Updates env var on DownloaderFunction and runs every minute."
      Environment:
        Variables:
          TARGET_FUNCTION_NAME: !Ref DownloaderFunction
          VAR_NAME: DEPLOY_TS
      Policies:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AmazonS3FullAccess
        - Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Action:
                - lambda:GetFunctionConfiguration
                - lambda:UpdateFunctionConfiguration
              Resource: !GetAtt DownloaderFunction.Arn
      Events:
        UpdateSchedule:
          Type: Schedule
          Properties:
            Name: UpdateDownloaderSchedule
            Description: !Sub "Invoke updater every ${UpdaterScheduleRate} to refresh env var."
            Schedule: !If
              - IsRateExpression
              - !Sub "rate(${UpdaterScheduleRate})"
              - !Ref UpdaterScheduleRate
            Enabled: true

  # Persist the DownloaderFunction ARN to SSM for Airflow to consume
  DownloaderFunctionArnParameter:
    Type: AWS::SSM::Parameter
    Properties:
      Name: !Sub "/${AWS::StackName}/downloader-function-arn"
      Type: String
      Value: !GetAtt DownloaderFunction.Arn
      Description: ARN of the downloader Lambda function for MWAA

  #####################################################################################################################
  # SQS (Workflow queue + DLQ for Step Functions trigger)
  #####################################################################################################################

  WorkflowDeadLetterQueue:
    Type: AWS::SQS::Queue
    Properties:
      MessageRetentionPeriod: 1209600
      VisibilityTimeout: 331
      SqsManagedSseEnabled: true
      Tags:
        - Key: Environment
          Value: !Ref EnvironmentName

  WorkflowSqsQueue:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: !Ref WorkflowQueueName
      VisibilityTimeout: 331
      MessageRetentionPeriod: 1209600
      SqsManagedSseEnabled: true
      RedrivePolicy:
        deadLetterTargetArn: !GetAtt WorkflowDeadLetterQueue.Arn
        maxReceiveCount: 3
      Tags:
        - Key: Environment
          Value: !Ref EnvironmentName

  LeePermitsWorkflowSqsQueue:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: !Ref LeePermitsWorkflowQueueName
      VisibilityTimeout: 331
      MessageRetentionPeriod: 1209600
      SqsManagedSseEnabled: true
      RedrivePolicy:
        deadLetterTargetArn: !GetAtt LeePermitsWorkflowDeadLetterQueue.Arn
        maxReceiveCount: 3
      Tags:
        - Key: Environment
          Value: !Ref EnvironmentName

  LeePermitsWorkflowDeadLetterQueue:
    Type: AWS::SQS::Queue
    Properties:
      MessageRetentionPeriod: 1209600
      VisibilityTimeout: 331
      SqsManagedSseEnabled: true
      Tags:
        - Key: Environment
          Value: !Ref EnvironmentName

  # Split Permits SQS (primary + DLQ)
  SplitPermitsDeadLetterQueue:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: elephant-split-permits-dead-letter-queue
      MessageRetentionPeriod: 1209600
      VisibilityTimeout: 331
      SqsManagedSseEnabled: true
      Tags:
        - Key: Environment
          Value: !Ref EnvironmentName

  SplitPermitsSqsQueue:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: elephant-split-permits
      VisibilityTimeout: 331
      MessageRetentionPeriod: 1209600
      SqsManagedSseEnabled: true
      RedrivePolicy:
        deadLetterTargetArn: !GetAtt SplitPermitsDeadLetterQueue.Arn
        maxReceiveCount: 3
      Tags:
        - Key: Environment
          Value: !Ref EnvironmentName

  TransactionsSqsQueue:
    Type: AWS::SQS::Queue
    Properties:
      VisibilityTimeout: 331
      MessageRetentionPeriod: 1209600
      SqsManagedSseEnabled: true
      RedrivePolicy:
        deadLetterTargetArn: !GetAtt TransactionsDeadLetterQueue.Arn
        maxReceiveCount: 3
      Tags:
        - Key: Environment
          Value: !Ref EnvironmentName

  TransactionsDeadLetterQueue:
    Type: AWS::SQS::Queue
    Properties:
      MessageRetentionPeriod: 1209600
      VisibilityTimeout: 331
      SqsManagedSseEnabled: true
      Tags:
        - Key: Environment
          Value: !Ref EnvironmentName

  #####################################################################################################################
  # Workflow Lambdas (starter -> pre -> prepare -> post)
  #####################################################################################################################

  SubmitterFunction:
    Type: AWS::Serverless::Function
    Properties:
      Architectures:
        - arm64
      MemorySize: 256
      Timeout: 300
      EphemeralStorage:
        Size: 1024
      CodeUri: ../workflow/lambdas/submit/
      Handler: index.handler
      Description: "Submits data to the blockchain"
      Policies:
        - AWSLambdaBasicExecutionRole
        - Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Action:
                - s3:GetObject
              Resource: !Sub "${EnvironmentBucket.Arn}/keystores/*"
      Environment:
        Variables:
          ELEPHANT_DOMAIN: !Ref ElephantDomain
          ELEPHANT_API_KEY: !Ref ElephantApiKey
          ELEPHANT_ORACLE_KEY_ID: !Ref ElephantOracleKeyId
          ELEPHANT_FROM_ADDRESS: !Ref ElephantFromAddress
          ELEPHANT_RPC_URL: !Ref ElephantRpcUrl
          ELEPHANT_KEYSTORE_S3_KEY: !Ref ElephantKeystoreS3Key
          ELEPHANT_KEYSTORE_PASSWORD: !Ref ElephantKeystorePassword
          ENVIRONMENT_BUCKET: !Ref EnvironmentBucket
      Events:
        Submit:
          Type: SQS
          Properties:
            Queue: !GetAtt TransactionsSqsQueue.Arn
            BatchSize: 150
            MaximumBatchingWindowInSeconds: 300
            ScalingConfig:
              MaximumConcurrency: 2

  WorkflowStarterFunction:
    Type: AWS::Serverless::Function
    Properties:
      Architectures:
        - arm64
      MemorySize: 128
      Timeout: 330
      CodeUri: ../workflow/lambdas/starter
      Handler: index.handler
      Description: "SQS-triggered starter that sync-starts the Express state machine"
      Policies:
        - AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AmazonS3FullAccess
        - Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Action:
                - states:StartSyncExecution
              Resource: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${WorkflowStateMachineName}"
      Environment:
        Variables:
          STATE_MACHINE_ARN: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${WorkflowStateMachineName}"
      Events:
        SqsEvent:
          Type: SQS
          Properties:
            Queue: !GetAtt WorkflowSqsQueue.Arn
            BatchSize: 1
            MaximumBatchingWindowInSeconds: 0
            ScalingConfig:
              MaximumConcurrency: !Ref WorkflowStarterReservedConcurrency

  WorkflowPreProcessorFunction:
    Type: AWS::Serverless::Function
    Properties:
      Architectures:
        - arm64
      MemorySize: 512
      Timeout: 300
      EphemeralStorage:
        Size: 1024
      CodeUri: ../workflow/lambdas/pre
      Handler: index.handler
      Description: "Prepares seed output and input.zip for prepare step"
      Policies:
        - AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AmazonS3FullAccess
        - S3CrudPolicy:
            BucketName: !Ref EnvironmentBucket
      Environment:
        Variables:
          OUTPUT_BASE_URI: !Sub "s3://${EnvironmentBucket}/outputs"

  WorkflowPostProcessorFunction:
    Type: AWS::Serverless::Function
    Properties:
      Architectures:
        - arm64
      MemorySize: 512
      Timeout: 120
      EphemeralStorage:
        Size: 2048
      CodeUri: ../workflow/lambdas/post
      Handler: index.handler
      Description: "Performs county transform, hash, upload, and submit"
      Policies:
        - AWSLambdaBasicExecutionRole
        - S3CrudPolicy:
            BucketName: !Ref EnvironmentBucket
        - arn:aws:iam::aws:policy/AmazonS3FullAccess
      Environment:
        Variables:
          OUTPUT_BASE_URI: !Sub "s3://${EnvironmentBucket}/outputs"
          ELEPHANT_DOMAIN: !Ref ElephantDomain
          ELEPHANT_API_KEY: !Ref ElephantApiKey
          ELEPHANT_ORACLE_KEY_ID: !Ref ElephantOracleKeyId
          ELEPHANT_FROM_ADDRESS: !Ref ElephantFromAddress
          ELEPHANT_RPC_URL: !Ref ElephantRpcUrl
          ELEPHANT_PINATA_JWT: !Ref ElephantPinataJwt
          TRANSFORM_S3_PREFIX: !Ref TransformS3Prefix

  # Post without seed hashing/combination
  WorkflowPostProcessorNoSeedFunction:
    Type: AWS::Serverless::Function
    Properties:
      Architectures:
        - arm64
      MemorySize: 512
      Timeout: 180
      EphemeralStorage:
        Size: 2048
      CodeUri: ../workflow/lambdas/post-no-seed
      Handler: index.handler
      Description: "Performs county transform and hash only (no seed combine)"
      Policies:
        - AWSLambdaBasicExecutionRole
        - S3CrudPolicy:
            BucketName: !Ref EnvironmentBucket
        - arn:aws:iam::aws:policy/AmazonS3FullAccess
      Environment:
        Variables:
          OUTPUT_BASE_URI: !Sub "s3://${EnvironmentBucket}/outputs"
          ELEPHANT_DOMAIN: !Ref ElephantDomain
          ELEPHANT_API_KEY: !Ref ElephantApiKey
          ELEPHANT_ORACLE_KEY_ID: !Ref ElephantOracleKeyId
          ELEPHANT_FROM_ADDRESS: !Ref ElephantFromAddress
          ELEPHANT_RPC_URL: !Ref ElephantRpcUrl
          ELEPHANT_PINATA_JWT: !Ref ElephantPinataJwt
          TRANSFORM_S3_PREFIX: !Ref TransformS3Prefix
          ELEPHANT_PROPERTY_IMPROVEMENT: "true"

  #####################################################################################################################
  # Express Step Functions State Machine (separate definition file)
  #####################################################################################################################

  ElephantExpressStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: !Ref WorkflowStateMachineName
      Type: EXPRESS
      DefinitionUri: ../workflow/state-machines/elephant-express.asl.yaml
      DefinitionSubstitutions:
        WorkflowPreProcessorFunction: !GetAtt WorkflowPreProcessorFunction.Arn
        DownloaderFunction: !GetAtt DownloaderFunction.Arn
        WorkflowPostProcessorFunction: !GetAtt WorkflowPostProcessorFunction.Arn
        WorkflowSqsQueueUrl: !Ref WorkflowSqsQueue
        WorkflowDeadLetterQueueUrl: !Ref WorkflowDeadLetterQueue
        TransactionsSqsQueueUrl: !Ref TransactionsSqsQueue
      Role: !GetAtt ElephantExpressStateMachineRole.Arn
      Logging:
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt ElephantExpressLogGroup.Arn
        IncludeExecutionData: true
        Level: ALL
      Tracing:
        Enabled: true

  # Minimal Express workflow: Downloader -> Post -> Queue to Submit (no Pre, no requeue)
  ElephantExpressDownloaderPostStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: ExlphanExpressFlowPermitDetails
      Type: EXPRESS
      Definition:
        Comment: "Minimal workflow: downloader -> post -> submit"
        StartAt: Prepare
        States:
          Prepare:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              FunctionName: ${DownloaderFunction}
              Payload:
                input_s3_uri.$: "States.Format('s3://{}/{}', $.message.s3.bucket.name, $.message.s3.object.key)"
                browser: true
            ResultSelector:
              output_s3_uri.$: $.Payload.output_s3_uri
            ResultPath: $.prepare
            Next: Postprocess
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                IntervalSeconds: 5
                MaxAttempts: 3
                BackoffRate: 2
            Catch:
              - ErrorEquals: [ States.ALL ]
                ResultPath: $.error
                Next: SendToSplitPermitsDLQ
          Postprocess:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              FunctionName: ${WorkflowPostProcessorNoSeedFunction}
              Payload:
                s3.$: $.message.s3
                prepare.$: $.prepare
                # no seed_output_s3_uri needed
            ResultSelector:
              items.$: $.Payload.transactionItems
            ResultPath: $.post
            Next: QueueForTheSubmit
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                IntervalSeconds: 5
                MaxAttempts: 2
                BackoffRate: 2
            Catch:
              - ErrorEquals: [ States.ALL ]
                ResultPath: $.error
                Next: SendToSplitPermitsDLQ
          QueueForTheSubmit:
            Type: Task
            Resource: arn:aws:states:::sqs:sendMessage
            Parameters:
              QueueUrl: ${TransactionsSqsQueueUrl}
              MessageBody.$: States.JsonToString($.post.items)
            ResultPath: null
            End: true
          SendToSplitPermitsDLQ:
            Type: Task
            Resource: arn:aws:states:::sqs:sendMessage
            Parameters:
              QueueUrl: ${SplitPermitsDeadLetterQueueUrl}
              MessageBody.$: States.JsonToString($.message)
            ResultPath: null
            Next: FailRuntime
          FailRuntime:
            Type: Fail
            Error: WorkflowFailed
            Cause: Post or Prepare failed; message sent to split-permits DLQ
      DefinitionSubstitutions:
        WorkflowCsvZipperFunction: !GetAtt WorkflowCsvZipperFunction.Arn
        DownloaderFunction: !GetAtt DownloaderFunction.Arn
        WorkflowPostProcessorNoSeedFunction: !GetAtt WorkflowPostProcessorNoSeedFunction.Arn
        TransactionsSqsQueueUrl: !Ref TransactionsSqsQueue
        SplitPermitsDeadLetterQueueUrl: !Ref SplitPermitsDeadLetterQueue
      Role: !GetAtt ElephantExpressStateMachineRole.Arn
      Logging:
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt ElephantExpressLogGroup.Arn
        IncludeExecutionData: true
        Level: ALL
      Tracing:
        Enabled: true

  # Starter for Split Permits queue -> Minimal workflow
  WorkflowStarterSplitPermitsFunction:
    Type: AWS::Serverless::Function
    Properties:
      Architectures:
        - arm64
      MemorySize: 128
      Timeout: 330
      CodeUri: ../workflow/lambdas/starter
      Handler: index.handler
      Description: "SQS-triggered starter for Downloader->Post->Submit workflow (split permits)"
      Policies:
        - AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AmazonS3FullAccess
        - Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Action:
                - states:StartSyncExecution
              Resource: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:ExlphanExpressFlowPermitDetails"
      Environment:
        Variables:
          STATE_MACHINE_ARN: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:ExlphanExpressFlowPermitDetails"
      Events:
        SqsEventSplitPermits:
          Type: SQS
          Properties:
            Queue: !GetAtt SplitPermitsSqsQueue.Arn
            BatchSize: 1
            MaximumBatchingWindowInSeconds: 0
            ScalingConfig:
              MaximumConcurrency: !Ref WorkflowStarterReservedConcurrency

  # Lee Permits dedicated Post Lambda
  WorkflowPostProcessorLeePermitsFunction:
    Type: AWS::Serverless::Function
    Properties:
      Architectures:
        - arm64
      MemorySize: 512
      Timeout: 180
      EphemeralStorage:
        Size: 2048
      CodeUri: ../workflow/lambdas/post-lee-permits
      Handler: index.handler
      Description: "Performs lee-permits transform, hash, upload, and submit"
      Policies:
        - AWSLambdaBasicExecutionRole
        - S3CrudPolicy:
            BucketName: !Ref EnvironmentBucket
        - arn:aws:iam::aws:policy/AmazonS3FullAccess
      Environment:
        Variables:
          OUTPUT_BASE_URI: !Sub "s3://${EnvironmentBucket}/outputs"
          ELEPHANT_DOMAIN: !Ref ElephantDomain
          ELEPHANT_API_KEY: !Ref ElephantApiKey
          ELEPHANT_ORACLE_KEY_ID: !Ref ElephantOracleKeyId
          ELEPHANT_FROM_ADDRESS: !Ref ElephantFromAddress
          ELEPHANT_RPC_URL: !Ref ElephantRpcUrl
          ELEPHANT_PINATA_JWT: !Ref ElephantPinataJwt
          TRANSFORM_S3_PREFIX: !Ref TransformS3Prefix

  # CSV Zipper (converts CSV at s3:// to prepare-input.zip and sets prefixes)
  WorkflowCsvZipperFunction:
    Type: AWS::Serverless::Function
    Properties:
      Architectures:
        - arm64
      MemorySize: 256
      Timeout: 60
      EphemeralStorage:
        Size: 1024
      CodeUri: ../workflow/lambdas/csv-zipper
      Handler: index.handler
      Description: "Zips CSV into prepare-input.zip and returns prepare/output prefixes"
      Policies:
        - AWSLambdaBasicExecutionRole
        - S3CrudPolicy:
            BucketName: !Ref EnvironmentBucket
        - arn:aws:iam::aws:policy/AmazonS3FullAccess
      Environment:
        Variables:
          OUTPUT_BASE_URI: !Sub "s3://${EnvironmentBucket}/outputs"

  # Lee Permits dedicated Starter (wired to lee-permits queue)
  WorkflowStarterLeePermitsFunction:
    Type: AWS::Serverless::Function
    Properties:
      Architectures:
        - arm64
      MemorySize: 128
      Timeout: 330
      CodeUri: ../workflow/lambdas/starter
      Handler: index.handler
      Description: "SQS-triggered starter for Lee Permits workflow"
      Policies:
        - AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AmazonS3FullAccess
        - Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Action:
                - states:StartSyncExecution
              Resource: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${WorkflowStateMachineName}-LeePermits"
      Environment:
        Variables:
          STATE_MACHINE_ARN: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${WorkflowStateMachineName}-LeePermits"
      Events:
        SqsEventLeePermits:
          Type: SQS
          Properties:
            Queue: !GetAtt LeePermitsWorkflowSqsQueue.Arn
            BatchSize: 1
            MaximumBatchingWindowInSeconds: 0
            ScalingConfig:
              MaximumConcurrency: !Ref WorkflowStarterReservedConcurrency

  # Lee Permits Express State Machine (reuse definition with different substitutions)
  ElephantExpressLeePermitsStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: !Sub "${WorkflowStateMachineName}-LeePermits"
      Type: EXPRESS
      Definition:
        Comment: Lee Permits post-only workflow
        StartAt: Postprocess
        States:
          Postprocess:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              FunctionName: ${WorkflowPostProcessorLeePermitsFunction}
              Payload:
                s3.$: $.message.s3
            ResultSelector:
              items.$: $.Payload.transactionItems
            ResultPath: $.post
            Next: QueueForTheSubmit
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                IntervalSeconds: 5
                MaxAttempts: 2
                BackoffRate: 2
            Catch:
              - ErrorEquals: [ States.ALL ]
                ResultPath: $.error
                Next: QueueForTheSubmit
          QueueForTheSubmit:
            Type: Task
            Resource: arn:aws:states:::sqs:sendMessage
            Parameters:
              QueueUrl: ${TransactionsSqsQueueUrl}
              MessageBody.$: States.JsonToString($.post.items)
            ResultPath: null
            End: true
      DefinitionSubstitutions:
        WorkflowPostProcessorLeePermitsFunction: !GetAtt WorkflowPostProcessorLeePermitsFunction.Arn
        TransactionsSqsQueueUrl: !Ref TransactionsSqsQueue
      Role: !GetAtt ElephantExpressStateMachineRole.Arn
      Logging:
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt ElephantExpressLogGroup.Arn
        IncludeExecutionData: true
        Level: ALL
      Tracing:
        Enabled: true

  # Wrapper SFN to load S3 outputs to lee-permits queue using existing S3ToSqsStateMachine
  LeePermitsLoadOutputsStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${AWS::StackName}-LeePermits-LoadOutputs"
      RoleArn: !GetAtt StepFunctionRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "Load s3://EnvironmentBucket/outputs/*/output.zip to LeePermits queue",
          "StartAt": "StartLoader",
          "States": {
            "StartLoader": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution.sync",
              "Parameters": {
                "StateMachineArn": "${S3ToSqsStateMachine}",
                "Input": {
                  "bucketName": "${EnvironmentBucket}",
                  "sqsQueueUrl": "${LeePermitsWorkflowSqsQueue}"
                }
              },
              "End": true
            }
          }
        }

  ElephantExpressLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/vendedlogs/states/${WorkflowStateMachineName}"
      RetentionInDays: 14

  ElephantExpressStateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Path: "/service-role/"
      Policies:
        - PolicyName: ElephantExpressInline
          PolicyDocument:
            Version: 2012-10-17
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt WorkflowPreProcessorFunction.Arn
                  - !GetAtt DownloaderFunction.Arn
                  - !GetAtt WorkflowPostProcessorFunction.Arn
                  - !GetAtt WorkflowPostProcessorLeePermitsFunction.Arn
                  - !GetAtt WorkflowPostProcessorNoSeedFunction.Arn
                  - !GetAtt WorkflowCsvZipperFunction.Arn
                  - !GetAtt SubmitterFunction.Arn
              - Effect: Allow
                Action:
                  - sqs:SendMessage
                Resource:
                  - !GetAtt WorkflowSqsQueue.Arn
                  - !GetAtt LeePermitsWorkflowSqsQueue.Arn
                  - !GetAtt WorkflowDeadLetterQueue.Arn
                  - !GetAtt LeePermitsWorkflowDeadLetterQueue.Arn
                  - !GetAtt TransactionsSqsQueue.Arn
                  - !GetAtt SplitPermitsSqsQueue.Arn
                  - !GetAtt SplitPermitsDeadLetterQueue.Arn
              - Effect: Allow
                Action:
                  - logs:CreateLogDelivery
                  - logs:GetLogDelivery
                  - logs:UpdateLogDelivery
                  - logs:DeleteLogDelivery
                  - logs:ListLogDeliveries
                  - logs:PutResourcePolicy
                  - logs:DescribeResourcePolicies
                  - logs:DescribeLogGroups
                Resource: "*"

  #####################################################################################################################
  # Step Function for S3 to SQS processing
  #####################################################################################################################

  StepFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Path: "/service-role/"
      Policies:
        - PolicyName: StepFunctionS3SqsPolicy
          PolicyDocument:
            Version: 2012-10-17
            Statement:
              - Effect: Allow
                Action:
                  - s3:ListBucket
                  - s3:GetObject
                Resource:
                  - !GetAtt EnvironmentBucket.Arn
                  - !Sub "${EnvironmentBucket.Arn}/*"
              - Effect: Allow
                Action:
                  - s3:ListBucket
                Resource: "*"
              - Effect: Allow
                Action:
                  - sqs:SendMessage
                  - sqs:GetQueueUrl
                Resource:
                  - !GetAtt MwaaSqsQueue.Arn
                  - !GetAtt WorkflowSqsQueue.Arn
                  - !GetAtt LeePermitsWorkflowSqsQueue.Arn
                  - !GetAtt SplitPermitsSqsQueue.Arn
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource:
                  - !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${AWS::StackName}-*"
              # Required for states:startExecution.sync to create the managed EventBridge rule
              - Effect: Allow
                Action:
                  - events:PutRule
                  - events:PutTargets
                  - events:DescribeRule
                  - events:DeleteRule
                  - events:RemoveTargets
                Resource:
                  - !Sub "arn:aws:events:${AWS::Region}:${AWS::AccountId}:rule/StepFunctionsGetEventsForStepFunctionsExecutionRule"

  # Child state machine: processes a single page starting after a given key and maps to SQS
  S3PageProcessorStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${AWS::StackName}-S3PageProcessor"
      RoleArn: !GetAtt StepFunctionRole.Arn
      DefinitionString: |
        {
          "Comment": "Process one S3 page (MaxKeys=1000) starting after StartAfter and send SQS messages",
          "StartAt": "BranchList",
          "States": {
            "BranchList": {
              "Type": "Choice",
              "Choices": [
                { "Variable": "$.continuationToken", "IsPresent": true, "Next": "ListPageWithToken" },
                { "Variable": "$.startAfter", "IsPresent": true, "Next": "ListPageWithStartAfter" }
              ],
              "Default": "ListPageNoStartAfter"
            },
            "ListPageWithToken": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:s3:listObjectsV2",
              "Parameters": {
                "Bucket.$": "$.bucketName",
                "MaxKeys": 1000,
                "Prefix.$": "$.prefix",
                "ContinuationToken.$": "$.continuationToken"
              },
              "ResultPath": "$.list",
              "Next": "ProcessOrDone",
              "Retry": [
                { "ErrorEquals": ["States.TaskFailed", "S3.NoSuchBucket", "S3.AccessDenied"], "IntervalSeconds": 2, "MaxAttempts": 3, "BackoffRate": 2.0 }
              ],
              "Catch": [
                { "ErrorEquals": ["States.ALL"], "ResultPath": "$.errorInfo", "Next": "ReturnEmpty" }
              ]
            },
            "ListPageNoStartAfter": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:s3:listObjectsV2",
              "Parameters": {
                "Bucket.$": "$.bucketName",
                "MaxKeys": 1000,
                "Prefix.$": "$.prefix"
              },
              "ResultPath": "$.list",
              "Next": "ProcessOrDone",
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed", "S3.NoSuchBucket", "S3.AccessDenied"],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.errorInfo",
                  "Next": "ReturnEmpty"
                }
              ]
            },
            "ListPageWithStartAfter": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:s3:listObjectsV2",
              "Parameters": {
                "Bucket.$": "$.bucketName",
                "MaxKeys": 1000,
                "Prefix.$": "$.prefix",
                "StartAfter.$": "$.startAfter"
              },
              "ResultPath": "$.list",
              "Next": "ProcessOrDone",
              "Retry": [
                { "ErrorEquals": ["States.TaskFailed", "S3.NoSuchBucket", "S3.AccessDenied"], "IntervalSeconds": 2, "MaxAttempts": 3, "BackoffRate": 2.0 }
              ],
              "Catch": [
                { "ErrorEquals": ["States.ALL"], "ResultPath": "$.errorInfo", "Next": "ReturnEmpty" }
              ]
            },
            "ProcessOrDone": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.list.Contents",
                  "IsPresent": true,
                  "Next": "MapObjects"
                }
              ],
              "Default": "ReturnEmpty"
            },
            "MapObjects": {
              "Type": "Map",
              "MaxConcurrency": 0,
              "ItemsPath": "$.list.Contents",
              "Iterator": {
                "StartAt": "CreateMessage",
                "States": {
                  "CreateMessage": {
                    "Type": "Pass",
                    "Parameters": {
                      "s3": {
                        "bucket": { "name.$": "$$.Execution.Input.bucketName" },
                        "object": { "key.$": "$.Key" }
                      }
                    },
                    "ResultPath": "$.message",
                    "Next": "SendToSQS"
                  },
                  "SendToSQS": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::sqs:sendMessage",
                    "Parameters": {
                      "QueueUrl.$": "$$.Execution.Input.sqsQueueUrl",
                      "MessageBody.$": "States.JsonToString($.message)"
                    },
                    "ResultPath": "$.sqsResult",
                    "Next": "Success",
                    "Retry": [
                      {
                        "ErrorEquals": ["States.TaskFailed", "SQS.QueueDoesNotExist", "SQS.InvalidMessageContents"],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2.0
                      },
                      { "ErrorEquals": ["States.Timeout"], "IntervalSeconds": 3, "MaxAttempts": 2, "BackoffRate": 1.5 }
                    ],
                    "Catch": [
                      { "ErrorEquals": ["States.ALL"], "ResultPath": "$.errorInfo", "Next": "LogError" }
                    ]
                  },
                  "LogError": { "Type": "Pass", "Result": { "status": "error" }, "End": true },
                  "Success": { "Type": "Pass", "Result": { "status": "processed" }, "End": true }
                }
              },
              "ResultPath": "$.processed",
              "Next": "ReturnResult",
              "Catch": [
                { "ErrorEquals": ["States.TaskFailed", "States.MapRunFailed"], "ResultPath": "$.mapError", "Next": "ReturnResult" }
              ]
            },
            "ReturnEmpty": {
              "Type": "Pass",
              "Result": { "nextToken": null, "count": 0, "isTruncated": false },
              "End": true
            },
            "ReturnResult": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.list.NextContinuationToken",
                  "IsPresent": true,
                  "Next": "ReturnWithToken"
                }
              ],
              "Default": "ReturnWithoutToken"
            },
            "ReturnWithToken": {
              "Type": "Pass",
              "Parameters": {
                "nextToken.$": "$.list.NextContinuationToken",
                "count.$": "States.ArrayLength($.list.Contents)",
                "isTruncated.$": "$.list.IsTruncated"
              },
              "End": true
            },
            "ReturnWithoutToken": {
              "Type": "Pass",
              "Parameters": {
                "nextToken": null,
                "count.$": "States.ArrayLength($.list.Contents)",
                "isTruncated.$": "$.list.IsTruncated"
              },
              "End": true
            }
          }
        }

  # Parent/orchestrator state machine: loops child calls and recurses near history limit
  S3ToSqsStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${AWS::StackName}-S3ToSqsProcessor"
      RoleArn: !GetAtt StepFunctionRole.Arn
      DefinitionSubstitutions:
        S3PageProcessorStateMachine: !Ref S3PageProcessorStateMachine
      DefinitionString: |
        {
          "Comment": "Orchestrate S3 pagination by invoking child per page; recurse at ~24.5k iterations",
          "StartAt": "InitBranch",
          "States": {
            "InitBranch": {
              "Type": "Choice",
              "Choices": [
                { "Variable": "$.continuationToken", "IsPresent": true, "Next": "InitWithToken" }
              ],
              "Default": "InitNoToken"
            },
            "InitWithToken": {
              "Type": "Pass",
              "Parameters": {
                "bucketName.$": "$.bucketName",
                "sqsQueueUrl.$": "$.sqsQueueUrl",
                "prefix.$": "$.prefix",
                "continuationToken.$": "$.continuationToken",
                "loopCount": 0
              },
              "ResultPath": "$.ctx",
              "Next": "ProcessPage"
            },
            "InitNoToken": {
              "Type": "Pass",
              "Parameters": {
                "bucketName.$": "$.bucketName",
                "sqsQueueUrl.$": "$.sqsQueueUrl",
                "prefix.$": "$.prefix",
                "continuationToken": null,
                "loopCount": 0
              },
              "ResultPath": "$.ctx",
              "Next": "ProcessPage"
            },
            "ProcessPage": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution.sync",
              "Parameters": {
                "StateMachineArn": "${S3PageProcessorStateMachine}",
                "Input": {
                  "bucketName.$": "$.ctx.bucketName",
                  "sqsQueueUrl.$": "$.ctx.sqsQueueUrl",
                  "prefix.$": "$.ctx.prefix",
                  "continuationToken.$": "$.ctx.continuationToken"
                }
              },
              "ResultSelector": {
                "parsed.$": "States.StringToJson($.Output)"
              },
              "ResultPath": "$.child",
              "Next": "UpdateForNext",
              "Retry": [
                { "ErrorEquals": ["States.TaskFailed"], "IntervalSeconds": 2, "MaxAttempts": 3, "BackoffRate": 2.0 }
              ],
              "Catch": [
                { "ErrorEquals": ["States.ALL"], "ResultPath": "$.errorInfo", "Next": "Done" }
              ]
            },
            "UpdateForNext": {
              "Type": "Pass",
              "Parameters": {
                "ctx": {
                  "bucketName.$": "$.ctx.bucketName",
                  "sqsQueueUrl.$": "$.ctx.sqsQueueUrl",
                  "prefix.$": "$.ctx.prefix",
                  "continuationToken.$": "$.child.parsed.nextToken",
                  "loopCount.$": "States.MathAdd($.ctx.loopCount, 1)"
                },
                "hasMore.$": "$.child.parsed.isTruncated"
              },
              "ResultPath": "$.loop",
              "Next": "ContinueOrRecurse"
            },
            "ContinueOrRecurse": {
              "Type": "Choice",
              "Choices": [
                { "Variable": "$.loop.hasMore", "BooleanEquals": true, "Next": "CheckLimit" }
              ],
              "Default": "Done"
            },
            "CheckLimit": {
              "Type": "Choice",
              "Choices": [
                { "Variable": "$.loop.ctx.loopCount", "NumericLessThan": 25, "Next": "ProcessPageFromLoop" }
              ],
              "Default": "Recurse"
            },
            "ProcessPageFromLoop": {
              "Type": "Pass",
              "InputPath": "$.loop.ctx",
              "ResultPath": "$.ctx",
              "Next": "ProcessPage"
            },
            "Recurse": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution",
              "Parameters": {
                "StateMachineArn.$": "$$.StateMachine.Id",
                "Name.$": "States.UUID()",
                "Input": {
                  "bucketName.$": "$.loop.ctx.bucketName",
                  "sqsQueueUrl.$": "$.loop.ctx.sqsQueueUrl",
                  "prefix.$": "$.loop.ctx.prefix",
                  "continuationToken.$": "$.loop.ctx.continuationToken"
                }
              },
              "ResultPath": "$.restarted",
              "Next": "Done"
            },
            "Done": { "Type": "Pass", "End": true }
          }
        }

Outputs:
  DownloaderFunctionName:
    Description: Name of the downloader Lambda function
    Value: !Ref DownloaderFunction
  DownloaderFunctionArn:
    Description: ARN of the downloader Lambda function
    Value: !GetAtt DownloaderFunction.Arn
  UpdaterFunctionName:
    Description: Name of the updater Lambda function
    Value: !Ref UpdaterFunction
  UpdaterFunctionArn:
    Description: ARN of the updater Lambda function
    Value: !GetAtt UpdaterFunction.Arn
  EnvironmentBucketName:
    Description: S3 Bucket for MWAA Environment
    Value: !Ref EnvironmentBucket
  MwaaSqsQueueUrl:
    Description: URL of the MWAA SQS Queue
    Value: !Ref MwaaSqsQueue
  MwaaSqsQueueArn:
    Description: ARN of the MWAA SQS Queue
    Value: !GetAtt MwaaSqsQueue.Arn
  MwaaDeadLetterQueueUrl:
    Description: URL of the MWAA Dead Letter Queue
    Value: !Ref MwaaDeadLetterQueue
  MwaaDeadLetterQueueArn:
    Description: ARN of the MWAA Dead Letter Queue
    Value: !GetAtt MwaaDeadLetterQueue.Arn
  DownloaderFunctionArnParameterName:
    Description: SSM Parameter name containing DownloaderFunction ARN
    Value: !Ref DownloaderFunctionArnParameter
  S3ToSqsStateMachineArn:
    Description: ARN of the S3 to SQS processing Step Function
    Value: !Ref S3ToSqsStateMachine
  S3ToSqsStateMachineName:
    Description: Name of the S3 to SQS processing Step Function
    Value: !GetAtt S3ToSqsStateMachine.Name
  WorkflowQueueUrl:
    Description: URL of the workflow SQS queue (Step Functions trigger)
    Value: !Ref WorkflowSqsQueue
  WorkflowQueueArn:
    Description: ARN of the workflow SQS queue
    Value: !GetAtt WorkflowSqsQueue.Arn
  LeePermitsWorkflowQueueUrl:
    Description: URL of the lee-permits workflow SQS queue
    Value: !Ref LeePermitsWorkflowSqsQueue
  LeePermitsWorkflowQueueArn:
    Description: ARN of the lee-permits workflow SQS queue
    Value: !GetAtt LeePermitsWorkflowSqsQueue.Arn
  LeePermitsWorkflowDeadLetterQueueUrl:
    Description: URL of the lee-permits workflow Dead Letter Queue
    Value: !Ref LeePermitsWorkflowDeadLetterQueue
  LeePermitsWorkflowDeadLetterQueueArn:
    Description: ARN of the lee-permits workflow Dead Letter Queue
    Value: !GetAtt LeePermitsWorkflowDeadLetterQueue.Arn
  SplitPermitsQueueUrl:
    Description: URL of the split-permits SQS queue
    Value: !Ref SplitPermitsSqsQueue
  SplitPermitsQueueArn:
    Description: ARN of the split-permits SQS queue
    Value: !GetAtt SplitPermitsSqsQueue.Arn
  SplitPermitsDeadLetterQueueUrl:
    Description: URL of the split-permits Dead Letter Queue
    Value: !Ref SplitPermitsDeadLetterQueue
  SplitPermitsDeadLetterQueueArn:
    Description: ARN of the split-permits Dead Letter Queue
    Value: !GetAtt SplitPermitsDeadLetterQueue.Arn
  ElephantExpressStateMachineArn:
    Description: ARN of the Elephant Express state machine
    Value: !Ref ElephantExpressStateMachine
  ElephantExpressStateMachineName:
    Description: Name of the Elephant Express state machine
    Value: !GetAtt ElephantExpressStateMachine.Name
  WorkflowPostProcessorLogGroupName:
    Description: CloudWatch Log Group name for the post processor Lambda function
    Value: !Sub "/aws/lambda/${WorkflowPostProcessorFunction}"
  ElephantExpressLeePermitsStateMachineArn:
    Description: ARN of the Lee Permits Express state machine
    Value: !Ref ElephantExpressLeePermitsStateMachine
  ElephantExpressLeePermitsStateMachineName:
    Description: Name of the Lee Permits Express state machine
    Value: !GetAtt ElephantExpressLeePermitsStateMachine.Name
  ElephantExpressDownloaderPostStateMachineArn:
    Description: ARN of the Downloader->Post->Submit Express state machine
    Value: !Ref ElephantExpressDownloaderPostStateMachine
  ElephantExpressDownloaderPostStateMachineName:
    Description: Name of the Downloader->Post->Submit Express state machine
    Value: !GetAtt ElephantExpressDownloaderPostStateMachine.Name
  ExlphanExpressFlowPermitDetailsArn:
    Description: ARN of the ExlphanExpressFlowPermitDetails state machine
    Value: !Ref ElephantExpressDownloaderPostStateMachine
  ExlphanExpressFlowPermitDetailsName:
    Description: Name of the ExlphanExpressFlowPermitDetails state machine
    Value: !GetAtt ElephantExpressDownloaderPostStateMachine.Name
  LeePermitsLoadOutputsStateMachineArn:
    Description: ARN of the Lee Permits loader State Machine
    Value: !Ref LeePermitsLoadOutputsStateMachine
  LeePermitsLoadOutputsStateMachineName:
    Description: Name of the Lee Permits loader State Machine
    Value: !GetAtt LeePermitsLoadOutputsStateMachine.Name
  WorkflowDeadLetterQueueUrl:
    Description: URL of the Workflow Dead Letter Queue
    Value: !Ref WorkflowDeadLetterQueue
  WorkflowDeadLetterQueueArn:
    Description: ARN of the Workflow Dead Letter Queue
    Value: !GetAtt WorkflowDeadLetterQueue.Arn
  TransactionsSqsQueueUrl:
    Description: URL of the Transactions SQS Queue
    Value: !Ref TransactionsSqsQueue
  TransactionsSqsQueueArn:
    Description: ARN of the Transactions SQS Queue
    Value: !GetAtt TransactionsSqsQueue.Arn
  TransactionsDeadLetterQueueUrl:
    Description: URL of the Transactions Dead Letter Queue
    Value: !Ref TransactionsDeadLetterQueue
  TransactionsDeadLetterQueueArn:
    Description: ARN of the Transactions Dead Letter Queue
    Value: !GetAtt TransactionsDeadLetterQueue.Arn
