prepare/template.yaml
AWSTemplateFormatVersion: "2010-09-09"
Transform: AWS::Serverless-2016-10-31
Description: Unified SAM template defining downloader/updater Lambdas and MWAA + networking + SQS

Parameters:
  EnvironmentName:
    Description: An environment name that is prefixed to resource names
    Type: String
    Default: MWAAEnvironment

  VpcCIDR:
    Description: The IP range (CIDR notation) for this VPC
    Type: String
    Default: 10.192.0.0/16

  PublicSubnet1CIDR:
    Description: The IP range (CIDR notation) for the public subnet in the first Availability Zone
    Type: String
    Default: 10.192.10.0/24

  PublicSubnet2CIDR:
    Description: The IP range (CIDR notation) for the public subnet in the second Availability Zone
    Type: String
    Default: 10.192.11.0/24

  PrivateSubnet1CIDR:
    Description: The IP range (CIDR notation) for the private subnet in the first Availability Zone
    Type: String
    Default: 10.192.20.0/24

  PrivateSubnet2CIDR:
    Description: The IP range (CIDR notation) for the private subnet in the second Availability Zone
    Type: String
    Default: 10.192.21.0/24

  DagProcessingLogs:
    Description: Log level for DagProcessing
    Type: String
    Default: INFO

  SchedulerLogsLevel:
    Description: Log level for SchedulerLogs
    Type: String
    Default: INFO

  TaskLogsLevel:
    Description: Log level for TaskLogs
    Type: String
    Default: INFO

  WorkerLogsLevel:
    Description: Log level for WorkerLogs
    Type: String
    Default: INFO

  WebserverLogsLevel:
    Description: Log level for WebserverLogs
    Type: String
    Default: INFO

  StartupScriptS3Path:
    Description: Full S3 URI to the startup script file (e.g., s3://bucket-name/startup.sh)
    Type: String
    Default: ""

  StartupScriptS3ObjectVersion:
    Description: Version ID of the startup script in S3 (leave empty for initial deployment)
    Type: String
    Default: ""

  RequirementsS3Path:
    Description: The relative path to the requirements.txt file on your Amazon S3 bucket. For example, requirements.txt.
    Type: String
    Default: ""

  RequirementsS3ObjectVersion:
    Description: The version of the requirements.txt file on your Amazon S3 bucket.
    Type: String
    Default: ""

  SourceS3BucketArn:
    Description: ARN of the S3 bucket that will send S3 event notifications to the SQS queue (e.g., arn:aws:s3:::bucket-name) - now optional, allows any bucket
    Type: String
    Default: "*"

  UseSingleNatGateway:
    Description: Use a single NAT Gateway for cost optimization (less resilient but cheaper)
    Type: String
    Default: "false"
    AllowedValues: ["true", "false"]

  # Parameters for new Step Functions workflow (replaces Airflow UI variables as deployment inputs)
  ElephantDomain:
    Description: Elephant API domain for submit step
    Type: String
    Default: ""
  ElephantApiKey:
    Description: Elephant API key
    Type: String
    NoEcho: true
    Default: ""
  ElephantOracleKeyId:
    Description: Elephant oracle key id
    Type: String
    Default: ""
  ElephantFromAddress:
    Description: From address for blockchain submission
    Type: String
    Default: ""
  ElephantRpcUrl:
    Description: RPC URL for blockchain submission
    Type: String
    Default: ""
  ElephantPinataJwt:
    Description: Pinata JWT for uploads
    Type: String
    NoEcho: true
    Default: ""
  WorkflowQueueName:
    Description: Name for the Step Functions SQS trigger queue
    Type: String
    Default: elephant-workflow-queue
  WorkflowStarterReservedConcurrency:
    Description: Max concurrent SQS messages to process via EventSourceMapping ScalingConfig
    Type: Number
    Default: 2
  WorkflowStateMachineName:
    Description: Name for the Express Step Functions state machine
    Type: String
    Default: ElephantExpressWorkflow

Conditions:
  HasStartupScript: !Not [!Equals [!Ref StartupScriptS3ObjectVersion, ""]]
  HasRequirements: !Not [!Equals [!Ref RequirementsS3ObjectVersion, ""]]
  UseSingleNat: !Equals [!Ref UseSingleNatGateway, "true"]
  UseDualNat: !Not [!Equals [!Ref UseSingleNatGateway, "true"]]

Globals:
  Function:
    Runtime: nodejs22.x
    Timeout: 300
    Tracing: Active

Resources:
  #####################################################################################################################
  # VPC + Subnets + Routing + SG
  #####################################################################################################################

  VPC:
    Type: AWS::EC2::VPC
    Properties:
      CidrBlock: !Ref VpcCIDR
      EnableDnsSupport: true
      EnableDnsHostnames: true
      Tags:
        - Key: Name
          Value: MWAAEnvironment

  InternetGateway:
    Type: AWS::EC2::InternetGateway
    Properties:
      Tags:
        - Key: Name
          Value: MWAAEnvironment

  InternetGatewayAttachment:
    Type: AWS::EC2::VPCGatewayAttachment
    Properties:
      InternetGatewayId: !Ref InternetGateway
      VpcId: !Ref VPC

  PublicSubnet1:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref VPC
      AvailabilityZone: !Select [0, !GetAZs ""]
      CidrBlock: !Ref PublicSubnet1CIDR
      MapPublicIpOnLaunch: true
      Tags:
        - Key: Name
          Value: !Sub ${EnvironmentName} Public Subnet (AZ1)

  PublicSubnet2:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref VPC
      AvailabilityZone: !Select [1, !GetAZs ""]
      CidrBlock: !Ref PublicSubnet2CIDR
      MapPublicIpOnLaunch: true
      Tags:
        - Key: Name
          Value: !Sub ${EnvironmentName} Public Subnet (AZ2)

  PrivateSubnet1:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref VPC
      AvailabilityZone: !Select [0, !GetAZs ""]
      CidrBlock: !Ref PrivateSubnet1CIDR
      MapPublicIpOnLaunch: false
      Tags:
        - Key: Name
          Value: !Sub ${EnvironmentName} Private Subnet (AZ1)

  PrivateSubnet2:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref VPC
      AvailabilityZone: !Select [1, !GetAZs ""]
      CidrBlock: !Ref PrivateSubnet2CIDR
      MapPublicIpOnLaunch: false
      Tags:
        - Key: Name
          Value: !Sub ${EnvironmentName} Private Subnet (AZ2)

  NatGateway1EIP:
    Type: AWS::EC2::EIP
    DependsOn: InternetGatewayAttachment
    Properties:
      Domain: vpc

  NatGateway2EIP:
    Type: AWS::EC2::EIP
    Condition: UseDualNat
    DependsOn: InternetGatewayAttachment
    Properties:
      Domain: vpc

  NatGateway1:
    Type: AWS::EC2::NatGateway
    Properties:
      AllocationId: !GetAtt NatGateway1EIP.AllocationId
      SubnetId: !Ref PublicSubnet1

  NatGateway2:
    Type: AWS::EC2::NatGateway
    Condition: UseDualNat
    Properties:
      AllocationId: !GetAtt NatGateway2EIP.AllocationId
      SubnetId: !Ref PublicSubnet2

  PublicRouteTable:
    Type: AWS::EC2::RouteTable
    Properties:
      VpcId: !Ref VPC
      Tags:
        - Key: Name
          Value: !Sub ${EnvironmentName} Public Routes

  DefaultPublicRoute:
    Type: AWS::EC2::Route
    DependsOn: InternetGatewayAttachment
    Properties:
      RouteTableId: !Ref PublicRouteTable
      DestinationCidrBlock: 0.0.0.0/0
      GatewayId: !Ref InternetGateway

  PublicSubnet1RouteTableAssociation:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      RouteTableId: !Ref PublicRouteTable
      SubnetId: !Ref PublicSubnet1

  PublicSubnet2RouteTableAssociation:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      RouteTableId: !Ref PublicRouteTable
      SubnetId: !Ref PublicSubnet2

  PrivateRouteTable1:
    Type: AWS::EC2::RouteTable
    Properties:
      VpcId: !Ref VPC
      Tags:
        - Key: Name
          Value: !Sub ${EnvironmentName} Private Routes (AZ1)

  DefaultPrivateRoute1:
    Type: AWS::EC2::Route
    Properties:
      RouteTableId: !Ref PrivateRouteTable1
      DestinationCidrBlock: 0.0.0.0/0
      NatGatewayId: !Ref NatGateway1

  PrivateSubnet1RouteTableAssociation:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      RouteTableId: !Ref PrivateRouteTable1
      SubnetId: !Ref PrivateSubnet1

  PrivateRouteTable2:
    Type: AWS::EC2::RouteTable
    Properties:
      VpcId: !Ref VPC
      Tags:
        - Key: Name
          Value: !Sub ${EnvironmentName} Private Routes (AZ2)

  DefaultPrivateRoute2:
    Type: AWS::EC2::Route
    Properties:
      RouteTableId: !Ref PrivateRouteTable2
      DestinationCidrBlock: 0.0.0.0/0
      NatGatewayId: !If [UseSingleNat, !Ref NatGateway1, !Ref NatGateway2]

  PrivateSubnet2RouteTableAssociation:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      RouteTableId: !Ref PrivateRouteTable2
      SubnetId: !Ref PrivateSubnet2

  # S3 Gateway VPC Endpoint to avoid NAT charges for S3 access from private subnets
  S3GatewayEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Properties:
      VpcId: !Ref VPC
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.s3"
      VpcEndpointType: Gateway
      RouteTableIds:
        - !Ref PrivateRouteTable1
        - !Ref PrivateRouteTable2

  # SQS Interface VPC Endpoint to avoid NAT charges for SQS access
  SQSInterfaceEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Properties:
      VpcId: !Ref VPC
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.sqs"
      VpcEndpointType: Interface
      SubnetIds:
        - !Ref PrivateSubnet1
        - !Ref PrivateSubnet2
      SecurityGroupIds:
        - !Ref SecurityGroup
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal: "*"
            Action:
              - sqs:*
            Resource: "*"

  # Lambda Interface VPC Endpoint to avoid NAT charges for Lambda invocations
  LambdaInterfaceEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Properties:
      VpcId: !Ref VPC
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.lambda"
      VpcEndpointType: Interface
      SubnetIds:
        - !Ref PrivateSubnet1
        - !Ref PrivateSubnet2
      SecurityGroupIds:
        - !Ref SecurityGroup
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal: "*"
            Action:
              - lambda:InvokeFunction
            Resource: "*"

  # SSM Interface VPC Endpoint to avoid NAT charges for SSM parameter access
  SSMInterfaceEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Properties:
      VpcId: !Ref VPC
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.ssm"
      VpcEndpointType: Interface
      SubnetIds:
        - !Ref PrivateSubnet1
        - !Ref PrivateSubnet2
      SecurityGroupIds:
        - !Ref SecurityGroup
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal: "*"
            Action:
              - ssm:GetParameter
              - ssm:GetParameters
            Resource: "*"

  # CloudWatch Logs Interface VPC Endpoint to avoid NAT charges for logging
  CloudWatchLogsInterfaceEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Properties:
      VpcId: !Ref VPC
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.logs"
      VpcEndpointType: Interface
      SubnetIds:
        - !Ref PrivateSubnet1
        - !Ref PrivateSubnet2
      SecurityGroupIds:
        - !Ref SecurityGroup
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal: "*"
            Action:
              - logs:CreateLogGroup
              - logs:CreateLogStream
              - logs:PutLogEvents
              - logs:DescribeLogGroups
              - logs:DescribeLogStreams
            Resource: "*"

  SecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupName: "mwaa-security-group"
      GroupDescription: "Security group with a self-referencing inbound rule."
      VpcId: !Ref VPC

  SecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: !Ref SecurityGroup
      IpProtocol: "-1"
      SourceSecurityGroupId: !Ref SecurityGroup

  EnvironmentBucket:
    Type: AWS::S3::Bucket
    Properties:
      LifecycleConfiguration:
        Rules:
          - ExpirationInDays: 14
            Status: Enabled
      VersioningConfiguration:
        Status: Enabled
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true

  EnvironmentBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref EnvironmentBucket
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Sid: AllowDownloaderLambdaAccess
            Effect: Allow
            Principal:
              AWS: !GetAtt DownloaderFunctionRole.Arn
            Action:
              - s3:GetObject
              - s3:PutObject
              - s3:ListBucket
            Resource:
              - !GetAtt EnvironmentBucket.Arn
              - !Sub "${EnvironmentBucket.Arn}/*"

  #####################################################################################################################
  # SQS (DLQ + primary) + QueuePolicy for S3 events
  #####################################################################################################################

  MwaaDeadLetterQueue:
    Type: AWS::SQS::Queue
    Properties:
      MessageRetentionPeriod: 1209600
      VisibilityTimeout: 300
      SqsManagedSseEnabled: true
      Tags:
        - Key: Environment
          Value: !Ref EnvironmentName

  MwaaSqsQueue:
    Type: AWS::SQS::Queue
    Properties:
      VisibilityTimeout: 300
      MessageRetentionPeriod: 1209600
      SqsManagedSseEnabled: true
      RedrivePolicy:
        deadLetterTargetArn: !GetAtt MwaaDeadLetterQueue.Arn
        maxReceiveCount: 3
      Tags:
        - Key: Environment
          Value: !Ref EnvironmentName

  MwaaSqsQueuePolicy:
    Type: AWS::SQS::QueuePolicy
    Properties:
      Queues:
        - !Ref MwaaSqsQueue
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Sid: AllowS3ToSendMessage
            Effect: Allow
            Principal:
              Service: s3.amazonaws.com
            Action:
              - sqs:SendMessage
            Resource: !GetAtt MwaaSqsQueue.Arn

  #####################################################################################################################
  # MWAA Environment + IAM
  #####################################################################################################################

  MwaaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - airflow-env.amazonaws.com
                - airflow.amazonaws.com
            Action:
              - "sts:AssumeRole"
      Path: "/service-role/"

  MwaaExecutionPolicy:
    DependsOn: EnvironmentBucket
    Type: AWS::IAM::ManagedPolicy
    Properties:
      Roles:
        - !Ref MwaaExecutionRole
      PolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Action: airflow:PublishMetrics
            Resource:
              - !Sub "arn:aws:airflow:${AWS::Region}:${AWS::AccountId}:environment/${EnvironmentName}"
          - Effect: Deny
            Action: s3:ListAllMyBuckets
            Resource:
              - !Sub "${EnvironmentBucket.Arn}"
              - !Sub "${EnvironmentBucket.Arn}/*"
          - Effect: Allow
            Action:
              - "s3:*"
            Resource:
              - "*"
          - Effect: Allow
            Action:
              - logs:DescribeLogGroups
            Resource: "*"
          - Effect: Allow
            Action:
              - logs:CreateLogStream
              - logs:CreateLogGroup
              - logs:PutLogEvents
              - logs:GetLogEvents
              - logs:GetLogRecord
              - logs:GetLogGroupFields
              - logs:GetQueryResults
              - logs:DescribeLogGroups
            Resource:
              - !Sub "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:airflow-${AWS::StackName}*"
          - Effect: Allow
            Action: cloudwatch:PutMetricData
            Resource: "*"
          - Effect: Allow
            Action:
              - sqs:ChangeMessageVisibility
              - sqs:DeleteMessage
              - sqs:GetQueueAttributes
              - sqs:GetQueueUrl
              - sqs:ReceiveMessage
              - sqs:SendMessage
            Resource:
              - !Sub "arn:aws:sqs:${AWS::Region}:*:airflow-celery-*"
          - Effect: Allow
            Action:
              - sqs:ReceiveMessage
              - sqs:DeleteMessage
              - sqs:GetQueueAttributes
              - sqs:ChangeMessageVisibility
              - sqs:GetQueueUrl
              - sqs:SendMessage
            Resource:
              - !GetAtt MwaaSqsQueue.Arn
              - !GetAtt MwaaDeadLetterQueue.Arn
          - Effect: Allow
            Action:
              - kms:Decrypt
              - kms:DescribeKey
              - "kms:GenerateDataKey*"
              - kms:Encrypt
            NotResource: !Sub "arn:aws:kms:*:${AWS::AccountId}:key/*"
            Condition:
              StringLike:
                "kms:ViaService":
                  - !Sub "sqs.${AWS::Region}.amazonaws.com"
          # Allow Airflow to invoke the downloader Lambda
          - Effect: Allow
            Action:
              - lambda:InvokeFunction
            Resource: !GetAtt DownloaderFunction.Arn
          # Allow Airflow to read the SSM parameter with the Lambda ARN
          - Effect: Allow
            Action:
              - ssm:GetParameter
            Resource: !Sub "arn:aws:ssm:${AWS::Region}:${AWS::AccountId}:parameter/${AWS::StackName}/downloader-function-arn"

  MwaaEnvironment:
    Type: AWS::MWAA::Environment
    DependsOn: MwaaExecutionPolicy
    Properties:
      Name: !Sub "${AWS::StackName}-MwaaEnvironment"
      SourceBucketArn: !GetAtt EnvironmentBucket.Arn
      ExecutionRoleArn: !GetAtt MwaaExecutionRole.Arn
      # AirflowConfigurationOptions:
      #   core.parallelism: "0"
      #   celery.worker_autoscale: "25,1"
      #   core.dag_concurrency: "1000"
      DagS3Path: dags/
      StartupScriptS3Path:
        !If [HasStartupScript, !Ref StartupScriptS3Path, !Ref "AWS::NoValue"]
      StartupScriptS3ObjectVersion:
        !If [
          HasStartupScript,
          !Ref StartupScriptS3ObjectVersion,
          !Ref "AWS::NoValue",
        ]
      RequirementsS3Path:
        !If [HasRequirements, !Ref RequirementsS3Path, !Ref "AWS::NoValue"]
      RequirementsS3ObjectVersion:
        !If [
          HasRequirements,
          !Ref RequirementsS3ObjectVersion,
          !Ref "AWS::NoValue",
        ]
      EnvironmentClass: mw1.large
      NetworkConfiguration:
        SecurityGroupIds:
          - !GetAtt SecurityGroup.GroupId
        SubnetIds:
          - !Ref PrivateSubnet1
          - !Ref PrivateSubnet2
      MinWorkers: 3
      MaxWorkers: 25
      MinWebservers: 2
      MaxWebservers: 5
      WebserverAccessMode: PUBLIC_ONLY
      LoggingConfiguration:
        DagProcessingLogs:
          LogLevel: !Ref DagProcessingLogs
          Enabled: true
        SchedulerLogs:
          LogLevel: !Ref SchedulerLogsLevel
          Enabled: true
        TaskLogs:
          LogLevel: !Ref TaskLogsLevel
          Enabled: true
        WorkerLogs:
          LogLevel: !Ref WorkerLogsLevel
          Enabled: true
        WebserverLogs:
          LogLevel: !Ref WebserverLogsLevel
          Enabled: true

  #####################################################################################################################
  # Serverless Functions
  #####################################################################################################################
  DownloaderFunction:
    Type: AWS::Serverless::Function
    Properties:
      EphemeralStorage:
        Size: 1024
      MemorySize: 2048
      CodeUri: lambdas/downloader
      Handler: index.handler
      Description: "Downloads data (granted full S3 access as requested)"
      Policies:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AmazonS3FullAccess

  UpdaterFunction:
    Type: AWS::Serverless::Function
    Properties:
      MemorySize: 128
      CodeUri: lambdas/updater
      Handler: index.handler
      Description: "Updates env var on DownloaderFunction and runs every minute."
      Environment:
        Variables:
          TARGET_FUNCTION_NAME: !Ref DownloaderFunction
          VAR_NAME: DEPLOY_TS
      Policies:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AmazonS3FullAccess
        - Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Action:
                - lambda:GetFunctionConfiguration
                - lambda:UpdateFunctionConfiguration
              Resource: !GetAtt DownloaderFunction.Arn
      Events:
        UpdateSchedule:
          Type: Schedule
          Properties:
            Name: UpdateDownloaderEveryMinute
            Description: "Invoke updater every minute to refresh env var."
            Schedule: "cron(* * * * ? *)"
            Enabled: true

  # Persist the DownloaderFunction ARN to SSM for Airflow to consume
  DownloaderFunctionArnParameter:
    Type: AWS::SSM::Parameter
    Properties:
      Name: !Sub "/${AWS::StackName}/downloader-function-arn"
      Type: String
      Value: !GetAtt DownloaderFunction.Arn
      Description: ARN of the downloader Lambda function for MWAA

  #####################################################################################################################
  # SQS (Workflow queue + DLQ for Step Functions trigger)
  #####################################################################################################################

  WorkflowDeadLetterQueue:
    Type: AWS::SQS::Queue
    Properties:
      MessageRetentionPeriod: 1209600
      VisibilityTimeout: 300
      SqsManagedSseEnabled: true
      Tags:
        - Key: Environment
          Value: !Ref EnvironmentName

  WorkflowSqsQueue:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: !Ref WorkflowQueueName
      VisibilityTimeout: 300
      MessageRetentionPeriod: 1209600
      SqsManagedSseEnabled: true
      RedrivePolicy:
        deadLetterTargetArn: !GetAtt WorkflowDeadLetterQueue.Arn
        maxReceiveCount: 3
      Tags:
        - Key: Environment
          Value: !Ref EnvironmentName

  #####################################################################################################################
  # Workflow Lambdas (starter -> pre -> prepare -> post)
  #####################################################################################################################

  WorkflowStarterFunction:
    Type: AWS::Serverless::Function
    Properties:
      Architectures:
        - arm64
      MemorySize: 128
      Timeout: 60
      CodeUri: ../workflow/lambdas/starter
      Handler: index.handler
      Description: "SQS-triggered starter that sync-starts the Express state machine"
      Policies:
        - AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AmazonS3FullAccess
        - Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Action:
                - states:StartSyncExecution
              Resource: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${WorkflowStateMachineName}"
      Environment:
        Variables:
          STATE_MACHINE_ARN: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${WorkflowStateMachineName}"
      Events:
        SqsEvent:
          Type: SQS
          Properties:
            Queue: !GetAtt WorkflowSqsQueue.Arn
            BatchSize: 1
            MaximumBatchingWindowInSeconds: 0
            ScalingConfig:
              MaximumConcurrency: !Ref WorkflowStarterReservedConcurrency

  WorkflowPreProcessorFunction:
    Type: AWS::Serverless::Function
    Properties:
      Architectures:
        - arm64
      MemorySize: 512
      Timeout: 300
      EphemeralStorage:
        Size: 1024
      CodeUri: ../workflow/lambdas/pre
      Handler: index.handler
      Description: "Prepares seed output and input.zip for prepare step"
      Policies:
        - AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AmazonS3FullAccess
        - S3CrudPolicy:
            BucketName: !Ref EnvironmentBucket
      Environment:
        Variables:
          OUTPUT_BASE_URI: !Sub "s3://${EnvironmentBucket}/outputs"

  WorkflowPostProcessorFunction:
    Type: AWS::Serverless::Function
    Properties:
      Architectures:
        - arm64
      MemorySize: 512
      Timeout: 900
      EphemeralStorage:
        Size: 2048
      CodeUri: ../workflow/lambdas/post
      Handler: index.handler
      Description: "Performs county transform, hash, upload, and submit"
      Policies:
        - AWSLambdaBasicExecutionRole
        - S3CrudPolicy:
            BucketName: !Ref EnvironmentBucket
        - arn:aws:iam::aws:policy/AmazonS3FullAccess
      Environment:
        Variables:
          OUTPUT_BASE_URI: !Sub "s3://${EnvironmentBucket}/outputs"
          ELEPHANT_DOMAIN: !Ref ElephantDomain
          ELEPHANT_API_KEY: !Ref ElephantApiKey
          ELEPHANT_ORACLE_KEY_ID: !Ref ElephantOracleKeyId
          ELEPHANT_FROM_ADDRESS: !Ref ElephantFromAddress
          ELEPHANT_RPC_URL: !Ref ElephantRpcUrl
          ELEPHANT_PINATA_JWT: !Ref ElephantPinataJwt

  #####################################################################################################################
  # Express Step Functions State Machine (separate definition file)
  #####################################################################################################################

  ElephantExpressStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: !Ref WorkflowStateMachineName
      Type: EXPRESS
      DefinitionUri: ../workflow/state-machines/elephant-express.asl.yaml
      DefinitionSubstitutions:
        WorkflowPreProcessorFunction: !GetAtt WorkflowPreProcessorFunction.Arn
        DownloaderFunction: !GetAtt DownloaderFunction.Arn
        WorkflowPostProcessorFunction: !GetAtt WorkflowPostProcessorFunction.Arn
        WorkflowSqsQueueUrl: !Ref WorkflowSqsQueue
      Role: !GetAtt ElephantExpressStateMachineRole.Arn
      Logging:
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt ElephantExpressLogGroup.Arn
        IncludeExecutionData: true
        Level: ALL
      Tracing:
        Enabled: true

  ElephantExpressLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/vendedlogs/states/${WorkflowStateMachineName}"
      RetentionInDays: 14

  ElephantExpressStateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Path: "/service-role/"
      Policies:
        - PolicyName: ElephantExpressInline
          PolicyDocument:
            Version: 2012-10-17
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt WorkflowPreProcessorFunction.Arn
                  - !GetAtt DownloaderFunction.Arn
                  - !GetAtt WorkflowPostProcessorFunction.Arn
              - Effect: Allow
                Action:
                  - sqs:SendMessage
                Resource: !GetAtt WorkflowSqsQueue.Arn
              - Effect: Allow
                Action:
                  - logs:CreateLogDelivery
                  - logs:GetLogDelivery
                  - logs:UpdateLogDelivery
                  - logs:DeleteLogDelivery
                  - logs:ListLogDeliveries
                  - logs:PutResourcePolicy
                  - logs:DescribeResourcePolicies
                  - logs:DescribeLogGroups
                Resource: "*"

  #####################################################################################################################
  # Step Function for S3 to SQS processing
  #####################################################################################################################

  StepFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Path: "/service-role/"
      Policies:
        - PolicyName: StepFunctionS3SqsPolicy
          PolicyDocument:
            Version: 2012-10-17
            Statement:
              - Effect: Allow
                Action:
                  - s3:ListBucket
                  - s3:GetObject
                Resource:
                  - !GetAtt EnvironmentBucket.Arn
                  - !Sub "${EnvironmentBucket.Arn}/*"
              - Effect: Allow
                Action:
                  - s3:ListBucket
                Resource: "*"
              - Effect: Allow
                Action:
                  - sqs:SendMessage
                  - sqs:GetQueueUrl
                Resource:
                  - !GetAtt MwaaSqsQueue.Arn
                  - !GetAtt WorkflowSqsQueue.Arn
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource:
                  - !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${AWS::StackName}-*"
              # Required for states:startExecution.sync to create the managed EventBridge rule
              - Effect: Allow
                Action:
                  - events:PutRule
                  - events:PutTargets
                  - events:DescribeRule
                  - events:DeleteRule
                  - events:RemoveTargets
                Resource:
                  - !Sub "arn:aws:events:${AWS::Region}:${AWS::AccountId}:rule/StepFunctionsGetEventsForStepFunctionsExecutionRule"

  # Child state machine: processes a single page starting after a given key and maps to SQS
  S3PageProcessorStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${AWS::StackName}-S3PageProcessor"
      RoleArn: !GetAtt StepFunctionRole.Arn
      DefinitionString: |
        {
          "Comment": "Process one S3 page (MaxKeys=1000) starting after StartAfter and send SQS messages",
          "StartAt": "BranchList",
          "States": {
            "BranchList": {
              "Type": "Choice",
              "Choices": [
                { "Variable": "$.continuationToken", "IsPresent": true, "Next": "ListPageWithToken" },
                { "Variable": "$.startAfter", "IsPresent": true, "Next": "ListPageWithStartAfter" }
              ],
              "Default": "ListPageNoStartAfter"
            },
            "ListPageWithToken": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:s3:listObjectsV2",
              "Parameters": {
                "Bucket.$": "$.bucketName",
                "MaxKeys": 1000,
                "ContinuationToken.$": "$.continuationToken"
              },
              "ResultPath": "$.list",
              "Next": "ProcessOrDone",
              "Retry": [
                { "ErrorEquals": ["States.TaskFailed", "S3.NoSuchBucket", "S3.AccessDenied"], "IntervalSeconds": 2, "MaxAttempts": 3, "BackoffRate": 2.0 }
              ],
              "Catch": [
                { "ErrorEquals": ["States.ALL"], "ResultPath": "$.errorInfo", "Next": "ReturnEmpty" }
              ]
            },
            "ListPageNoStartAfter": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:s3:listObjectsV2",
              "Parameters": {
                "Bucket.$": "$.bucketName",
                "MaxKeys": 1000
              },
              "ResultPath": "$.list",
              "Next": "ProcessOrDone",
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed", "S3.NoSuchBucket", "S3.AccessDenied"],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.errorInfo",
                  "Next": "ReturnEmpty"
                }
              ]
            },
            "ListPageWithStartAfter": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:s3:listObjectsV2",
              "Parameters": {
                "Bucket.$": "$.bucketName",
                "MaxKeys": 1000,
                "StartAfter.$": "$.startAfter"
              },
              "ResultPath": "$.list",
              "Next": "ProcessOrDone",
              "Retry": [
                { "ErrorEquals": ["States.TaskFailed", "S3.NoSuchBucket", "S3.AccessDenied"], "IntervalSeconds": 2, "MaxAttempts": 3, "BackoffRate": 2.0 }
              ],
              "Catch": [
                { "ErrorEquals": ["States.ALL"], "ResultPath": "$.errorInfo", "Next": "ReturnEmpty" }
              ]
            },
            "ProcessOrDone": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.list.Contents",
                  "IsPresent": true,
                  "Next": "MapObjects"
                }
              ],
              "Default": "ReturnEmpty"
            },
            "MapObjects": {
              "Type": "Map",
              "MaxConcurrency": 0,
              "ItemsPath": "$.list.Contents",
              "Iterator": {
                "StartAt": "CreateMessage",
                "States": {
                  "CreateMessage": {
                    "Type": "Pass",
                    "Parameters": {
                      "Records": [
                        {
                          "s3": {
                            "bucket": { "name.$": "$$.Execution.Input.bucketName" },
                            "object": { "key.$": "$.Key" }
                          }
                        }
                      ]
                    },
                    "ResultPath": "$.message",
                    "Next": "SendToSQS"
                  },
                  "SendToSQS": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::sqs:sendMessage",
                    "Parameters": {
                      "QueueUrl.$": "$$.Execution.Input.sqsQueueUrl",
                      "MessageBody.$": "States.JsonToString($.message)"
                    },
                    "ResultPath": "$.sqsResult",
                    "Next": "Success",
                    "Retry": [
                      {
                        "ErrorEquals": ["States.TaskFailed", "SQS.QueueDoesNotExist", "SQS.InvalidMessageContents"],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2.0
                      },
                      { "ErrorEquals": ["States.Timeout"], "IntervalSeconds": 3, "MaxAttempts": 2, "BackoffRate": 1.5 }
                    ],
                    "Catch": [
                      { "ErrorEquals": ["States.ALL"], "ResultPath": "$.errorInfo", "Next": "LogError" }
                    ]
                  },
                  "LogError": { "Type": "Pass", "Result": { "status": "error" }, "End": true },
                  "Success": { "Type": "Pass", "Result": { "status": "processed" }, "End": true }
                }
              },
              "ResultPath": "$.processed",
              "Next": "ReturnResult",
              "Catch": [
                { "ErrorEquals": ["States.TaskFailed", "States.MapRunFailed"], "ResultPath": "$.mapError", "Next": "ReturnResult" }
              ]
            },
            "ReturnEmpty": {
              "Type": "Pass",
              "Result": { "nextToken": null, "count": 0, "isTruncated": false },
              "End": true
            },
            "ReturnResult": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.list.NextContinuationToken",
                  "IsPresent": true,
                  "Next": "ReturnWithToken"
                }
              ],
              "Default": "ReturnWithoutToken"
            },
            "ReturnWithToken": {
              "Type": "Pass",
              "Parameters": {
                "nextToken.$": "$.list.NextContinuationToken",
                "count.$": "States.ArrayLength($.list.Contents)",
                "isTruncated.$": "$.list.IsTruncated"
              },
              "End": true
            },
            "ReturnWithoutToken": {
              "Type": "Pass",
              "Parameters": {
                "nextToken": null,
                "count.$": "States.ArrayLength($.list.Contents)",
                "isTruncated.$": "$.list.IsTruncated"
              },
              "End": true
            }
          }
        }

  # Parent/orchestrator state machine: loops child calls and recurses near history limit
  S3ToSqsStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${AWS::StackName}-S3ToSqsProcessor"
      RoleArn: !GetAtt StepFunctionRole.Arn
      DefinitionSubstitutions:
        S3PageProcessorStateMachine: !Ref S3PageProcessorStateMachine
      DefinitionString: |
        {
          "Comment": "Orchestrate S3 pagination by invoking child per page; recurse at ~24.5k iterations",
          "StartAt": "InitBranch",
          "States": {
            "InitBranch": {
              "Type": "Choice",
              "Choices": [
                { "Variable": "$.continuationToken", "IsPresent": true, "Next": "InitWithToken" }
              ],
              "Default": "InitNoToken"
            },
            "InitWithToken": {
              "Type": "Pass",
              "Parameters": {
                "bucketName.$": "$.bucketName",
                "sqsQueueUrl.$": "$.sqsQueueUrl",
                "continuationToken.$": "$.continuationToken",
                "loopCount": 0
              },
              "ResultPath": "$.ctx",
              "Next": "ProcessPage"
            },
            "InitNoToken": {
              "Type": "Pass",
              "Parameters": {
                "bucketName.$": "$.bucketName",
                "sqsQueueUrl.$": "$.sqsQueueUrl",
                "continuationToken": null,
                "loopCount": 0
              },
              "ResultPath": "$.ctx",
              "Next": "ProcessPage"
            },
            "ProcessPage": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution.sync",
              "Parameters": {
                "StateMachineArn": "${S3PageProcessorStateMachine}",
                "Input": {
                  "bucketName.$": "$.ctx.bucketName",
                  "sqsQueueUrl.$": "$.ctx.sqsQueueUrl",
                  "continuationToken.$": "$.ctx.continuationToken"
                }
              },
              "ResultSelector": {
                "parsed.$": "States.StringToJson($.Output)"
              },
              "ResultPath": "$.child",
              "Next": "UpdateForNext",
              "Retry": [
                { "ErrorEquals": ["States.TaskFailed"], "IntervalSeconds": 2, "MaxAttempts": 3, "BackoffRate": 2.0 }
              ],
              "Catch": [
                { "ErrorEquals": ["States.ALL"], "ResultPath": "$.errorInfo", "Next": "Done" }
              ]
            },
            "UpdateForNext": {
              "Type": "Pass",
              "Parameters": {
                "ctx": {
                  "bucketName.$": "$.ctx.bucketName",
                  "sqsQueueUrl.$": "$.ctx.sqsQueueUrl",
                  "continuationToken.$": "$.child.parsed.nextToken",
                  "loopCount.$": "States.MathAdd($.ctx.loopCount, 1)"
                },
                "hasMore.$": "$.child.parsed.isTruncated"
              },
              "ResultPath": "$.loop",
              "Next": "ContinueOrRecurse"
            },
            "ContinueOrRecurse": {
              "Type": "Choice",
              "Choices": [
                { "Variable": "$.loop.hasMore", "BooleanEquals": true, "Next": "CheckLimit" }
              ],
              "Default": "Done"
            },
            "CheckLimit": {
              "Type": "Choice",
              "Choices": [
                { "Variable": "$.loop.ctx.loopCount", "NumericLessThan": 25, "Next": "ProcessPageFromLoop" }
              ],
              "Default": "Recurse"
            },
            "ProcessPageFromLoop": {
              "Type": "Pass",
              "InputPath": "$.loop.ctx",
              "ResultPath": "$.ctx",
              "Next": "ProcessPage"
            },
            "Recurse": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution",
              "Parameters": {
                "StateMachineArn.$": "$$.StateMachine.Id",
                "Name.$": "States.Format('{}-{}', $$.Execution.Name, $.loop.ctx.loopCount)",
                "Input": {
                  "bucketName.$": "$.loop.ctx.bucketName",
                  "sqsQueueUrl.$": "$.loop.ctx.sqsQueueUrl",
                  "continuationToken.$": "$.loop.ctx.continuationToken"
                }
              },
              "ResultPath": "$.restarted",
              "Next": "Done"
            },
            "Done": { "Type": "Pass", "End": true }
          }
        }

Outputs:
  DownloaderFunctionName:
    Description: Name of the downloader Lambda function
    Value: !Ref DownloaderFunction
  DownloaderFunctionArn:
    Description: ARN of the downloader Lambda function
    Value: !GetAtt DownloaderFunction.Arn
  UpdaterFunctionName:
    Description: Name of the updater Lambda function
    Value: !Ref UpdaterFunction
  UpdaterFunctionArn:
    Description: ARN of the updater Lambda function
    Value: !GetAtt UpdaterFunction.Arn
  VPC:
    Description: A reference to the created VPC
    Value: !Ref VPC
  PublicSubnets:
    Description: A list of the public subnets
    Value: !Join [",", [!Ref PublicSubnet1, !Ref PublicSubnet2]]
  PrivateSubnets:
    Description: A list of the private subnets
    Value: !Join [",", [!Ref PrivateSubnet1, !Ref PrivateSubnet2]]
  EnvironmentBucketName:
    Description: S3 Bucket for MWAA Environment
    Value: !Ref EnvironmentBucket
  MwaaSqsQueueUrl:
    Description: URL of the MWAA SQS Queue
    Value: !Ref MwaaSqsQueue
  MwaaSqsQueueArn:
    Description: ARN of the MWAA SQS Queue
    Value: !GetAtt MwaaSqsQueue.Arn
  MwaaDeadLetterQueueUrl:
    Description: URL of the MWAA Dead Letter Queue
    Value: !Ref MwaaDeadLetterQueue
  MwaaDeadLetterQueueArn:
    Description: ARN of the MWAA Dead Letter Queue
    Value: !GetAtt MwaaDeadLetterQueue.Arn
  MwaaApacheAirflowUI:
    Description: MWAA Environment
    Value: !Sub "https://${MwaaEnvironment.WebserverUrl}"
  DownloaderFunctionArnParameterName:
    Description: SSM Parameter name containing DownloaderFunction ARN
    Value: !Ref DownloaderFunctionArnParameter
  S3ToSqsStateMachineArn:
    Description: ARN of the S3 to SQS processing Step Function
    Value: !Ref S3ToSqsStateMachine
  S3ToSqsStateMachineName:
    Description: Name of the S3 to SQS processing Step Function
    Value: !GetAtt S3ToSqsStateMachine.Name
  WorkflowQueueUrl:
    Description: URL of the workflow SQS queue (Step Functions trigger)
    Value: !Ref WorkflowSqsQueue
  WorkflowQueueArn:
    Description: ARN of the workflow SQS queue
    Value: !GetAtt WorkflowSqsQueue.Arn
  ElephantExpressStateMachineArn:
    Description: ARN of the Elephant Express state machine
    Value: !Ref ElephantExpressStateMachine
  ElephantExpressStateMachineName:
    Description: Name of the Elephant Express state machine
    Value: !GetAtt ElephantExpressStateMachine.Name
