workflow/state-machines/elephant-express.asl.yaml
Comment: Elephant Express workflow. Triggered by Starter Lambda with one SQS message payload.
StartAt: Preprocess
States:
  Preprocess:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName: ${WorkflowPreProcessorFunction}
      Payload.$: $.message
    ResultSelector:
      county_prep_input_s3_uri.$: $.Payload.county_prep_input_s3_uri
      output_prefix.$: $.Payload.output_prefix
      seed_output_s3_uri.$: $.Payload.seed_output_s3_uri
      county_name.$: $.Payload.county_name
      county_key.$: $.Payload.county_key
    ResultPath: $.pre
    Next: BuildRepairParamName
    Retry:
      - ErrorEquals:
          [
            Lambda.ServiceException,
            Lambda.AWSLambdaException,
            Lambda.SdkClientException,
          ]
        IntervalSeconds: 2
        MaxAttempts: 2
        BackoffRate: 2
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.error
        Next: FailRuntime

  BuildRepairParamName:
    Type: Pass
    Parameters:
      repairParam.$: States.Format('/${StackName}/repair/{}', $.pre.county_key)
    ResultPath: $.repair
    Next: GetCountyRepairFlag

  GetCountyRepairFlag:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:ssm:getParameter
    Parameters:
      Name.$: $.repair.repairParam
      WithDecryption: false
    ResultPath: $.countyRepair
    Next: ShouldAttemptSkip
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.countyRepair
        Next: DefaultRepairTrue

  DefaultRepairTrue:
    Type: Pass
    Parameters:
      Parameter:
        Value: "true"
    ResultPath: $.countyRepair
    Next: ShouldAttemptSkip

  ShouldAttemptSkip:
    Type: Choice
    Choices:
      - Variable: $.countyRepair.Parameter.Value
        StringEquals: "true"
        Next: BuildHeadParams
    Default: Prepare

  BuildHeadParams:
    Type: Pass
    QueryLanguage: JSONata
    Comment: "Parse pre.output_prefix (s3://bucket/prefix) to derive bucket, key (prefix/output.zip), and expectedOutputUri"
    Output: >-
      {%
        {
          "head": {
            "bucket": $split($split($states.input.pre.output_prefix, "s3://")[1], "/")[0],
            "key": $substringAfter($states.input.pre.output_prefix, "s3://" & $split($split($states.input.pre.output_prefix, "s3://")[1], "/")[0] & "/") & '/output.zip',
            "expectedOutputUri": $states.input.pre.output_prefix & '/output.zip'
          },
          "message": $states.input.message,
          "pre": $states.input.pre
        }
      %}
    Next: HeadOutputZip

  HeadOutputZip:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:s3:headObject
    Parameters:
      Bucket.$: $.head.bucket
      Key.$: $.head.key
    ResultPath: $.headResult
    Next: BypassPrepare
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.headError
        Next: Prepare

  BypassPrepare:
    Type: Pass
    Parameters:
      output_s3_uri.$: $.head.expectedOutputUri
      prepareSkipped: true
    ResultPath: $.prepare
    Next: GenerateExecutionId

  Prepare:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName: ${DownloaderFunction}
      Payload:
        input_s3_uri.$: $.pre.county_prep_input_s3_uri
        output_s3_uri_prefix.$: $.pre.output_prefix
        browser: true
    ResultSelector:
      output_s3_uri.$: $.Payload.output_s3_uri
      prepareSkipped: false
    ResultPath: $.prepare
    Next: GenerateExecutionId
    Retry:
      - ErrorEquals:
          [
            Lambda.ServiceException,
            Lambda.AWSLambdaException,
            Lambda.SdkClientException,
          ]
        IntervalSeconds: 5
        MaxAttempts: 3
        BackoffRate: 2
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.error
        Next: FailRuntime

  # === GRANULAR POSTPROCESS STEPS ===

  GenerateExecutionId:
    Type: Pass
    QueryLanguage: JSONata
    Comment: "Generate unique execution ID and prepare context for granular steps"
    Output: >-
      {%
        $merge([$states.input, {
          "executionId": $states.context.Execution.Name,
          "outputPrefix": $states.input.pre.output_prefix
        }])
      %}
    Next: EmitTransformScheduled

  # === TRANSFORM STEP ===

  EmitTransformScheduled:
    Type: Task
    Resource: arn:aws:states:::events:putEvents
    Comment: "Emit SCHEDULED event for Transform step"
    Parameters:
      Entries:
        - Source: elephant.workflow
          DetailType: WorkflowEvent
          Detail:
            executionId.$: $.executionId
            county.$: $.pre.county_name
            status: SCHEDULED
            phase: Transform
            step: Transform
    ResultPath: $.eventResult
    Next: Transform
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.eventError
        Next: Transform

  Transform:
    Type: Task
    Resource: arn:aws:states:::sqs:sendMessage.waitForTaskToken
    Comment: "Run Transform step via SQS + Lambda worker with task token callback"
    Parameters:
      QueueUrl: ${TransformQueueUrl}
      MessageBody:
        taskToken.$: $$.Task.Token
        input:
          inputS3Uri.$: $.prepare.output_s3_uri
          county.$: $.pre.county_name
          outputPrefix.$: $.outputPrefix
          executionId.$: $.executionId
    ResultSelector:
      transformedOutputS3Uri.$: $.transformedOutputS3Uri
      county.$: $.county
      executionId.$: $.executionId
    ResultPath: $.transform
    Next: EmitTransformSucceeded
    Retry:
      - ErrorEquals: [States.Timeout]
        IntervalSeconds: 5
        MaxAttempts: 2
        BackoffRate: 2
    Catch:
      - ErrorEquals: [ScriptsFailedError]
        Comment: "Transform scripts failed - park for resolution"
        ResultPath: $.transformError
        Next: WaitForTransformResolution
      - ErrorEquals: [States.ALL]
        ResultPath: $.transformError
        Next: WaitForTransformResolution

  EmitTransformSucceeded:
    Type: Task
    Resource: arn:aws:states:::events:putEvents
    Comment: "Emit SUCCEEDED event for Transform step"
    Parameters:
      Entries:
        - Source: elephant.workflow
          DetailType: WorkflowEvent
          Detail:
            executionId.$: $.executionId
            county.$: $.pre.county_name
            status: SUCCEEDED
            phase: Transform
            step: Transform
    ResultPath: $.eventResult
    Next: EmitSvlScheduled
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.eventError
        Next: EmitSvlScheduled

  WaitForTransformResolution:
    Type: Task
    Resource: arn:aws:states:::events:putEvents.waitForTaskToken
    Comment: "Emit FAILED event and wait for external resolution - retry target is Transform"
    HeartbeatSeconds: 86400
    Parameters:
      Entries:
        - Source: elephant.workflow
          DetailType: WorkflowEvent
          Detail:
            executionId.$: $.executionId
            county.$: $.pre.county_name
            status: FAILED
            phase: Transform
            step: EvaluateTransform
            taskToken.$: $$.Task.Token
            errors:
              - code: "20001"
                details:
                  error.$: States.JsonToString($.transformError)
    ResultPath: $.resolutionResult
    Next: Transform
    Catch:
      - ErrorEquals: [States.ALL]
        Comment: "Resolution failed - stay parked and wait again"
        ResultPath: $.transformError
        Next: WaitForTransformResolution

  # === SVL (Schema Validation Layer) STEP ===

  EmitSvlScheduled:
    Type: Task
    Resource: arn:aws:states:::events:putEvents
    Comment: "Emit SCHEDULED event for SVL step"
    Parameters:
      Entries:
        - Source: elephant.workflow
          DetailType: WorkflowEvent
          Detail:
            executionId.$: $.executionId
            county.$: $.pre.county_name
            status: SCHEDULED
            phase: SVL
            step: SVL
    ResultPath: $.eventResult
    Next: SVL
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.eventError
        Next: SVL

  SVL:
    Type: Task
    Resource: arn:aws:states:::sqs:sendMessage.waitForTaskToken
    Comment: "Run Schema Validation Layer via SQS + Lambda worker"
    Parameters:
      QueueUrl: ${SvlQueueUrl}
      MessageBody:
        taskToken.$: $$.Task.Token
        input:
          transformedOutputS3Uri.$: $.transform.transformedOutputS3Uri
          county.$: $.pre.county_name
          outputPrefix.$: $.outputPrefix
          executionId.$: $.executionId
          preparedS3Uri.$: $.prepare.output_s3_uri
          s3.$: $.message.s3
    ResultSelector:
      validatedOutputS3Uri.$: $.validatedOutputS3Uri
      county.$: $.county
      executionId.$: $.executionId
      validationPassed.$: $.validationPassed
    ResultPath: $.svl
    Next: CheckSvlResult
    Retry:
      - ErrorEquals: [States.Timeout]
        IntervalSeconds: 5
        MaxAttempts: 2
        BackoffRate: 2
    Catch:
      - ErrorEquals: [SvlFailedError]
        Comment: "SVL validation failed - park for resolution"
        ResultPath: $.svlError
        Next: WaitForSvlResolution
      - ErrorEquals: [States.ALL]
        ResultPath: $.svlError
        Next: WaitForSvlResolution

  CheckSvlResult:
    Type: Choice
    Comment: "Check if SVL validation passed or failed (errors saved to DynamoDB)"
    Choices:
      - Variable: $.svl.validationPassed
        BooleanEquals: false
        Next: WaitForSvlResolution
    Default: EmitSvlSucceeded

  EmitSvlSucceeded:
    Type: Task
    Resource: arn:aws:states:::events:putEvents
    Comment: "Emit SUCCEEDED event for SVL step"
    Parameters:
      Entries:
        - Source: elephant.workflow
          DetailType: WorkflowEvent
          Detail:
            executionId.$: $.executionId
            county.$: $.pre.county_name
            status: SUCCEEDED
            phase: SVL
            step: SVL
    ResultPath: $.eventResult
    Next: EmitHashScheduled
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.eventError
        Next: EmitHashScheduled

  WaitForSvlResolution:
    Type: Task
    Resource: arn:aws:states:::events:putEvents.waitForTaskToken
    Comment: "Emit FAILED event and wait for external resolution - retry target is Transform"
    HeartbeatSeconds: 86400
    Parameters:
      Entries:
        - Source: elephant.workflow
          DetailType: WorkflowEvent
          Detail:
            executionId.$: $.executionId
            county.$: $.pre.county_name
            status: FAILED
            phase: SVL
            step: EvaluateSvl
            taskToken.$: $$.Task.Token
            errors:
              - code: "30001"
                details:
                  error.$: States.JsonToString($.svlError)
    ResultPath: $.resolutionResult
    Next: Transform
    Catch:
      - ErrorEquals: [States.ALL]
        Comment: "Resolution failed - stay parked and wait again"
        ResultPath: $.svlError
        Next: WaitForSvlResolution

  # === HASH STEP ===

  EmitHashScheduled:
    Type: Task
    Resource: arn:aws:states:::events:putEvents
    Comment: "Emit SCHEDULED event for Hash step"
    Parameters:
      Entries:
        - Source: elephant.workflow
          DetailType: WorkflowEvent
          Detail:
            executionId.$: $.executionId
            county.$: $.pre.county_name
            status: SCHEDULED
            phase: Hash
            step: Hash
    ResultPath: $.eventResult
    Next: Hash
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.eventError
        Next: Hash

  Hash:
    Type: Task
    Resource: arn:aws:states:::sqs:sendMessage.waitForTaskToken
    Comment: "Run Hash generation via SQS + Lambda worker"
    Parameters:
      QueueUrl: ${HashQueueUrl}
      MessageBody:
        taskToken.$: $$.Task.Token
        input:
          validatedOutputS3Uri.$: $.transform.transformedOutputS3Uri
          seedOutputS3Uri.$: $.pre.seed_output_s3_uri
          county.$: $.pre.county_name
          outputPrefix.$: $.outputPrefix
          executionId.$: $.executionId
    ResultSelector:
      seedHashZipS3Uri.$: $.seedHashZipS3Uri
      countyHashZipS3Uri.$: $.countyHashZipS3Uri
      combinedHashCsvS3Uri.$: $.combinedHashCsvS3Uri
      county.$: $.county
      executionId.$: $.executionId
      propertyCid.$: $.propertyCid
    ResultPath: $.hash
    Next: EmitHashSucceeded
    Retry:
      - ErrorEquals: [States.Timeout]
        IntervalSeconds: 5
        MaxAttempts: 2
        BackoffRate: 2
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.hashError
        Next: WaitForHashResolution

  EmitHashSucceeded:
    Type: Task
    Resource: arn:aws:states:::events:putEvents
    Comment: "Emit SUCCEEDED event for Hash step"
    Parameters:
      Entries:
        - Source: elephant.workflow
          DetailType: WorkflowEvent
          Detail:
            executionId.$: $.executionId
            county.$: $.pre.county_name
            status: SUCCEEDED
            phase: Hash
            step: Hash
    ResultPath: $.eventResult
    Next: EmitUploadScheduled
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.eventError
        Next: EmitUploadScheduled

  WaitForHashResolution:
    Type: Task
    Resource: arn:aws:states:::events:putEvents.waitForTaskToken
    Comment: "Emit FAILED event and wait for external resolution - retry target is Hash"
    HeartbeatSeconds: 86400
    Parameters:
      Entries:
        - Source: elephant.workflow
          DetailType: WorkflowEvent
          Detail:
            executionId.$: $.executionId
            county.$: $.pre.county_name
            status: FAILED
            phase: Hash
            step: EvaluateHash
            taskToken.$: $$.Task.Token
            errors:
              - code: "40001"
                details:
                  error.$: States.JsonToString($.hashError)
    ResultPath: $.resolutionResult
    Next: Hash
    Catch:
      - ErrorEquals: [States.ALL]
        Comment: "Resolution failed - stay parked and wait again"
        ResultPath: $.hashError
        Next: WaitForHashResolution

  # === UPLOAD STEP ===

  EmitUploadScheduled:
    Type: Task
    Resource: arn:aws:states:::events:putEvents
    Comment: "Emit SCHEDULED event for Upload step"
    Parameters:
      Entries:
        - Source: elephant.workflow
          DetailType: WorkflowEvent
          Detail:
            executionId.$: $.executionId
            county.$: $.pre.county_name
            status: SCHEDULED
            phase: Upload
            step: Upload
    ResultPath: $.eventResult
    Next: Upload
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.eventError
        Next: Upload

  Upload:
    Type: Task
    Resource: arn:aws:states:::sqs:sendMessage.waitForTaskToken
    Comment: "Run Upload to IPFS via SQS + Lambda worker"
    Parameters:
      QueueUrl: ${UploadQueueUrl}
      MessageBody:
        taskToken.$: $$.Task.Token
        input:
          seedHashZipS3Uri.$: $.hash.seedHashZipS3Uri
          countyHashZipS3Uri.$: $.hash.countyHashZipS3Uri
          county.$: $.pre.county_name
          executionId.$: $.executionId
    ResultSelector:
      uploadSuccess.$: $.uploadSuccess
      county.$: $.county
      executionId.$: $.executionId
    ResultPath: $.upload
    Next: EmitUploadSucceeded
    Retry:
      - ErrorEquals: [States.Timeout]
        IntervalSeconds: 5
        MaxAttempts: 2
        BackoffRate: 2
    Catch:
      - ErrorEquals: [UploadFailedError]
        Comment: "Upload to IPFS failed - park for resolution"
        ResultPath: $.uploadError
        Next: WaitForUploadResolution
      - ErrorEquals: [States.ALL]
        ResultPath: $.uploadError
        Next: WaitForUploadResolution

  EmitUploadSucceeded:
    Type: Task
    Resource: arn:aws:states:::events:putEvents
    Comment: "Emit SUCCEEDED event for Upload step"
    Parameters:
      Entries:
        - Source: elephant.workflow
          DetailType: WorkflowEvent
          Detail:
            executionId.$: $.executionId
            county.$: $.pre.county_name
            status: SUCCEEDED
            phase: Upload
            step: Upload
    ResultPath: $.eventResult
    Next: PrepareTransactionItems
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.eventError
        Next: PrepareTransactionItems

  WaitForUploadResolution:
    Type: Task
    Resource: arn:aws:states:::events:putEvents.waitForTaskToken
    Comment: "Emit FAILED event and wait for external resolution - retry target is Upload"
    HeartbeatSeconds: 86400
    Parameters:
      Entries:
        - Source: elephant.workflow
          DetailType: WorkflowEvent
          Detail:
            executionId.$: $.executionId
            county.$: $.pre.county_name
            status: FAILED
            phase: Upload
            step: EvaluateUpload
            taskToken.$: $$.Task.Token
            errors:
              - code: "50001"
                details:
                  error.$: States.JsonToString($.uploadError)
    ResultPath: $.resolutionResult
    Next: Upload
    Catch:
      - ErrorEquals: [States.ALL]
        Comment: "Resolution failed - stay parked and wait again"
        ResultPath: $.uploadError
        Next: WaitForUploadResolution

  # === PREPARE TRANSACTION ITEMS ===

  PrepareTransactionItems:
    Type: Pass
    QueryLanguage: JSONata
    Comment: "Prepare transaction items from hash CSV for submit queue"
    Output: >-
      {%
        $merge([$states.input, {
          "post": {
            "items": [],
            "transformedOutputS3Uri": $states.input.transform.transformedOutputS3Uri,
            "preparedInputS3Uri": $states.input.prepare.output_s3_uri,
            "executionId": $states.input.executionId,
            "county": $states.input.pre.county_name,
            "combinedHashCsvS3Uri": $states.input.hash.combinedHashCsvS3Uri
          }
        }])
      %}
    Next: LoadTransactionItemsFromS3

  LoadTransactionItemsFromS3:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:s3:getObject
    Comment: "Load combined hash CSV from S3 to get transaction items"
    Parameters:
      Bucket.$: States.ArrayGetItem(States.StringSplit($.hash.combinedHashCsvS3Uri, '/'), 2)
      Key.$: States.Format('{}/{}', States.ArrayGetItem(States.StringSplit($.hash.combinedHashCsvS3Uri, '/'), 3), States.ArrayGetItem(States.StringSplit($.hash.combinedHashCsvS3Uri, '/'), 4))
    ResultSelector:
      csvContent.$: $.Body
    ResultPath: $.csvData
    Next: QueueForTheSubmit
    Catch:
      - ErrorEquals: [States.ALL]
        Comment: "Failed to load transaction items - proceed anyway"
        ResultPath: $.csvLoadError
        Next: QueueForTheSubmit

  QueueForTheSubmit:
    Type: Task
    Resource: arn:aws:states:::sqs:sendMessage
    Comment: "Queue combined hash CSV S3 URI for submit processing"
    Parameters:
      QueueUrl: ${TransactionsSqsQueueUrl}
      MessageBody.$: States.JsonToString($.hash)
    ResultPath: null
    End: true

  FailRuntime:
    Type: Fail
    Error: WorkflowFailed
    Cause: A task failed. See error field.
