workflow/state-machines/elephant-express.asl.yaml
Comment: Elephant Express workflow. Triggered by Starter Lambda with one SQS message payload.
StartAt: RecordStartedMetric
States:
  RecordStartedMetric:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:cloudwatch:putMetricData
    Parameters:
      Namespace: ElephantWorkflow
      MetricData:
        - MetricName: WorkflowExecution
          Value: 1
          Unit: Count
          Timestamp.$: $$.State.EnteredTime
          Dimensions:
            - Name: Status
              Value: Started
    ResultPath: $.metricResult
    Next: Preprocess
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.metricError
        Next: Preprocess

  Preprocess:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName: ${WorkflowPreProcessorFunction}
      Payload.$: $.message
    # Store full Lambda invoke result under $.pre so we can shape it next
    ResultSelector:
      county_prep_input_s3_uri.$: $.Payload.county_prep_input_s3_uri
      output_prefix.$: $.Payload.output_prefix
      seed_output_s3_uri.$: $.Payload.seed_output_s3_uri
      county_name.$: $.Payload.county_name
      county_key.$: $.Payload.county_key
    ResultPath: $.pre
    Next: BuildRepairParamName
    Retry:
      - ErrorEquals:
          [
            Lambda.ServiceException,
            Lambda.AWSLambdaException,
            Lambda.SdkClientException,
          ]
        IntervalSeconds: 2
        MaxAttempts: 2
        BackoffRate: 2
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.error
        Next: RecordPreprocessFailureMetric

  RecordPreprocessFailureMetric:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:cloudwatch:putMetricData
    Parameters:
      Namespace: ElephantWorkflow
      MetricData:
        - MetricName: WorkflowExecution
          Value: 1
          Unit: Count
          Timestamp.$: $$.State.EnteredTime
          Dimensions:
            - Name: Status
              Value: Failure
    ResultPath: $.metricResult
    Next: FailRuntime
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.metricError
        Next: FailRuntime

  BuildRepairParamName:
    Type: Pass
    Parameters:
      repairParam.$: States.Format('/${StackName}/repair/{}', $.pre.county_key)
    ResultPath: $.repair
    Next: GetCountyRepairFlag

  GetCountyRepairFlag:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:ssm:getParameter
    Parameters:
      Name.$: $.repair.repairParam
      WithDecryption: false
    ResultPath: $.countyRepair
    Next: ShouldAttemptSkip
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.countyRepair
        Next: DefaultRepairTrue

  DefaultRepairTrue:
    Type: Pass
    Parameters:
      Parameter:
        Value: "true"
    ResultPath: $.countyRepair
    Next: ShouldAttemptSkip

  ShouldAttemptSkip:
    Type: Choice
    Choices:
      - Variable: $.countyRepair.Parameter.Value
        StringEquals: "true"
        Next: BuildHeadParams
    Default: Prepare

  BuildHeadParams:
    Type: Pass
    QueryLanguage: JSONata
    Comment: "Parse pre.output_prefix (s3://bucket/prefix) to derive bucket, key (prefix/output.zip), and expectedOutputUri"
    Output: >-
      {%
        {
          "head": {
            "bucket": $split($split($states.input.pre.output_prefix, "s3://")[1], "/")[0],
            "key": $substringAfter($states.input.pre.output_prefix, "s3://" & $split($split($states.input.pre.output_prefix, "s3://")[1], "/")[0] & "/") & '/output.zip',
            "expectedOutputUri": $states.input.pre.output_prefix & '/output.zip'
          },
          "message": $states.input.message,
          "pre": $states.input.pre
        }
      %}
    Next: HeadOutputZip

  HeadOutputZip:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:s3:headObject
    Parameters:
      Bucket.$: $.head.bucket
      Key.$: $.head.key
    ResultPath: $.headResult
    Next: BypassPrepare
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.headError
        Next: Prepare

  BypassPrepare:
    Type: Pass
    Parameters:
      output_s3_uri.$: $.head.expectedOutputUri
      prepareSkipped: true
    ResultPath: $.prepare
    Next: Postprocess

  Prepare:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName: ${DownloaderFunction}
      Payload:
        input_s3_uri.$: $.pre.county_prep_input_s3_uri
        output_s3_uri_prefix.$: $.pre.output_prefix
        browser: true
    ResultSelector:
      output_s3_uri.$: $.Payload.output_s3_uri
      prepareSkipped: false
    ResultPath: $.prepare
    Next: Postprocess
    Retry:
      - ErrorEquals:
          [
            Lambda.ServiceException,
            Lambda.AWSLambdaException,
            Lambda.SdkClientException,
          ]
        IntervalSeconds: 5
        MaxAttempts: 3
        BackoffRate: 2
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.error
        Next: RecordPrepareFailureMetric

  RecordPrepareFailureMetric:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:cloudwatch:putMetricData
    Parameters:
      Namespace: ElephantWorkflow
      MetricData:
        - MetricName: WorkflowExecution
          Value: 1
          Unit: Count
          Timestamp.$: $$.State.EnteredTime
          Dimensions:
            - Name: Status
              Value: Failure
    ResultPath: $.metricResult
    Next: FailRuntime
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.metricError
        Next: FailRuntime

  Postprocess:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName: ${WorkflowPostProcessorFunction}
      Payload:
        s3.$: $.message.s3
        prepare.$: $.prepare
        seed_output_s3_uri.$: $.pre.seed_output_s3_uri
        prepareSkipped.$: $.prepare.prepareSkipped
    ResultSelector:
      items.$: $.Payload.transactionItems
      transformedOutputS3Uri.$: $.Payload.transformedOutputS3Uri
      preparedInputS3Uri.$: $.Payload.preparedInputS3Uri
      executionId.$: $.Payload.executionId
      county.$: $.Payload.county
    ResultPath: $.post
    Next: CheckTransactionItems
    Retry:
      - ErrorEquals:
          [
            Lambda.ServiceException,
            Lambda.AWSLambdaException,
            Lambda.SdkClientException,
          ]
        IntervalSeconds: 5
        MaxAttempts: 2
        BackoffRate: 2
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.error
        Next: RecordPostprocessFailureMetric

  RecordPostprocessFailureMetric:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:cloudwatch:putMetricData
    Parameters:
      Namespace: ElephantWorkflow
      MetricData:
        - MetricName: WorkflowExecution
          Value: 1
          Unit: Count
          Timestamp.$: $$.State.EnteredTime
          Dimensions:
            - Name: Status
              Value: Failure
    ResultPath: $.metricResult
    Next: FailRuntime
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.metricError
        Next: FailRuntime

  CheckTransactionItems:
    Type: Choice
    Comment: "Skip queue if validation failed (empty transactionItems)"
    Choices:
      - Variable: $.post.items[0]
        IsPresent: false
        Next: RecordValidationFailureMetric
    Default: RecordSuccessMetric

  RecordValidationFailureMetric:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:cloudwatch:putMetricData
    Parameters:
      Namespace: ElephantWorkflow
      MetricData:
        - MetricName: WorkflowExecution
          Value: 1
          Unit: Count
          Timestamp.$: $$.State.EnteredTime
          Dimensions:
            - Name: Status
              Value: Failure
    ResultPath: $.metricResult
    End: true

  RecordSuccessMetric:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:cloudwatch:putMetricData
    Parameters:
      Namespace: ElephantWorkflow
      MetricData:
        - MetricName: WorkflowExecution
          Value: 1
          Unit: Count
          Timestamp.$: $$.State.EnteredTime
          Dimensions:
            - Name: Status
              Value: Success
    ResultPath: $.metricResult
    Next: PrepareSubmitInProgressDetail
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.metricError
        Next: PrepareSubmitInProgressDetail

  PrepareSubmitInProgressDetail:
    Type: Pass
    Parameters:
      executionId.$: $$.Execution.Id
      county.$: $.post.county
      status: "IN_PROGRESS"
      phase: "Submit"
      step: "Submit"
      taskToken: null
      errors: []
    ResultPath: $.eventDetail
    Next: EmitSubmitInProgress

  EmitSubmitInProgress:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:eventbridge:putEvents
    Parameters:
      Entries:
        - Source: elephant.workflow
          DetailType: WorkflowEvent
          Detail.$: States.JsonToString($.eventDetail)
    ResultPath: $.eventResult
    Next: CheckGasPrice
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.eventError
        Next: CheckGasPrice

  CheckGasPrice:
    Type: Task
    Resource: arn:aws:states:::sqs:sendMessage.waitForTaskToken
    Parameters:
      QueueUrl: ${GasPriceCheckerSqsQueueUrl}
      MessageBody: "{}"
      MessageAttributes:
        TaskToken:
          DataType: String
          StringValue.$: $$.Task.Token
        ExecutionArn:
          DataType: String
          StringValue.$: $$.Execution.Id
        County:
          DataType: String
          StringValue.$: $.post.county
    TimeoutSeconds: 900
    ResultSelector:
      taskToken.$: $$.Task.Token
      result.$: $
    ResultPath: $.gasPriceCheck
    Next: PrepareGasPriceCheckSucceededDetail
    Retry:
      - ErrorEquals:
          - States.TaskFailed
          - States.Timeout
        IntervalSeconds: 2
        MaxAttempts: 2
        BackoffRate: 2
    Catch:
      - ErrorEquals: [States.ALL]
        ResultSelector:
          taskToken.$: $$.Task.Token
          error.$: $
        ResultPath: $.gasPriceError
        Next: PrepareGasPriceCheckFailedDetail

  PrepareGasPriceCheckSucceededDetail:
    Type: Pass
    Parameters:
      executionId.$: $$.Execution.Id
      county.$: $.post.county
      status: "SUCCEEDED"
      phase: "Submit"
      step: "CheckGasPrice"
      taskToken.$: $.gasPriceCheck.taskToken
      errors: []
    ResultPath: $.eventDetail
    Next: EmitGasPriceCheckSucceeded

  EmitGasPriceCheckSucceeded:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:eventbridge:putEvents
    Parameters:
      Entries:
        - Source: elephant.workflow
          DetailType: WorkflowEvent
          Detail.$: States.JsonToString($.eventDetail)
    ResultPath: $.eventResult
    Next: RecordGasPriceCheckSuccessMetric
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.eventError
        Next: RecordGasPriceCheckSuccessMetric

  PrepareGasPriceCheckFailedDetail:
    Type: Pass
    Parameters:
      executionId.$: $$.Execution.Id
      county.$: $.post.county
      status: "FAILED"
      phase: "Submit"
      step: "CheckGasPrice"
      taskToken.$: $.gasPriceError.taskToken
      errors:
        - code: "GAS_PRICE_CHECK_FAILED"
          details:
            error: "Gas price check failed"
    ResultPath: $.eventDetail
    Next: EmitGasPriceCheckFailed

  EmitGasPriceCheckFailed:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:eventbridge:putEvents
    Parameters:
      Entries:
        - Source: elephant.workflow
          DetailType: WorkflowEvent
          Detail.$: States.JsonToString($.eventDetail)
    ResultPath: $.eventResult
    Next: RecordGasPriceCheckFailureMetric
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.eventError
        Next: RecordGasPriceCheckFailureMetric

  RecordGasPriceCheckSuccessMetric:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:cloudwatch:putMetricData
    Parameters:
      Namespace: ElephantWorkflow
      MetricData:
        - MetricName: WorkflowExecution
          Value: 1
          Unit: Count
          Timestamp.$: $$.State.EnteredTime
          Dimensions:
            - Name: Status
              Value: GasPriceCheckSuccess
    ResultPath: $.metricResult
    Next: SubmitToBlockchain
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.metricError
        Next: SubmitToBlockchain

  RecordGasPriceCheckFailureMetric:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:cloudwatch:putMetricData
    Parameters:
      Namespace: ElephantWorkflow
      MetricData:
        - MetricName: WorkflowExecution
          Value: 1
          Unit: Count
          Timestamp.$: $$.State.EnteredTime
          Dimensions:
            - Name: Status
              Value: GasPriceCheckFailure
    ResultPath: $.metricResult
    Next: FailRuntime
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.metricError
        Next: FailRuntime

  SubmitToBlockchain:
    Type: Task
    Resource: arn:aws:states:::sqs:sendMessage.waitForTaskToken
    Parameters:
      QueueUrl: ${TransactionsSqsQueueUrl}
      MessageBody.$: States.JsonToString($.post.items)
      MessageAttributes:
        TaskToken:
          DataType: String
          StringValue.$: $$.Task.Token
        ExecutionArn:
          DataType: String
          StringValue.$: $$.Execution.Id
        County:
          DataType: String
          StringValue.$: $.post.county
    TimeoutSeconds: 600
    ResultSelector:
      taskToken.$: $$.Task.Token
      result.$: $
    ResultPath: $.submit
    Next: PrepareSubmitSucceededDetail
    Retry:
      - ErrorEquals:
          - States.TaskFailed
          - States.Timeout
        IntervalSeconds: 2
        MaxAttempts: 2
        BackoffRate: 2
    Catch:
      - ErrorEquals: [States.ALL]
        ResultSelector:
          taskToken.$: $$.Task.Token
          error.$: $
        ResultPath: $.submitError
        Next: PrepareSubmitFailedDetail

  PrepareSubmitSucceededDetail:
    Type: Pass
    Parameters:
      executionId.$: $$.Execution.Id
      county.$: $.post.county
      status: "SUCCEEDED"
      phase: "Submit"
      step: "Submit"
      taskToken.$: $.submit.taskToken
      errors: []
    ResultPath: $.eventDetail
    Next: EmitSubmitSucceeded

  EmitSubmitSucceeded:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:eventbridge:putEvents
    Parameters:
      Entries:
        - Source: elephant.workflow
          DetailType: WorkflowEvent
          Detail.$: States.JsonToString($.eventDetail)
    ResultPath: $.eventResult
    Next: ExtractTransactionHash
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.eventError
        Next: ExtractTransactionHash

  ExtractTransactionHash:
    Type: Pass
    Parameters:
      submit.$: $.submit
      post.$: $.post
      transactionHash.$: $.submit.submitResults[0].txHash
      transactionItems.$: $.post.items
    ResultPath: $.transactionStatus
    Next: CheckTransactionStatusIfHashExists

  CheckTransactionStatusIfHashExists:
    Type: Choice
    Choices:
      - Variable: $.transactionStatus.transactionHash
        IsPresent: true
        Next: PrepareTransactionStatusCheckDetail
    Default: WorkflowComplete

  PrepareTransactionStatusCheckDetail:
    Type: Pass
    Parameters:
      transactionHash.$: $.transactionStatus.transactionHash
      transactionItems.$: $.transactionStatus.transactionItems
    ResultPath: $.transactionStatusCheckInput
    Next: CheckTransactionStatus

  CheckTransactionStatus:
    Type: Task
    Resource: arn:aws:states:::sqs:sendMessage.waitForTaskToken
    Parameters:
      QueueUrl: ${TransactionStatusCheckerSqsQueueUrl}
      MessageBody.$: States.JsonToString($.transactionStatusCheckInput)
      MessageAttributes:
        TaskToken:
          DataType: String
          StringValue.$: $$.Task.Token
        ExecutionArn:
          DataType: String
          StringValue.$: $$.Execution.Id
        County:
          DataType: String
          StringValue.$: $.post.county
        TransactionHash:
          DataType: String
          StringValue.$: $.transactionStatus.transactionHash
    TimeoutSeconds: 900 # Match Lambda timeout
    ResultPath: $.transactionStatusCheck
    Next: PrepareTransactionStatusSucceededDetail
    Retry:
      - ErrorEquals:
          - States.TaskFailed
          - States.Timeout
        IntervalSeconds: 5
        MaxAttempts: 2
        BackoffRate: 2
    Catch:
      - ErrorEquals: [States.ALL]
        ResultSelector:
          taskToken.$: $$.Task.Token
          error.$: $
        ResultPath: $.transactionStatusError
        Next: PrepareTransactionStatusFailedDetail

  PrepareTransactionStatusSucceededDetail:
    Type: Pass
    Parameters:
      executionId.$: $$.Execution.Id
      county.$: $.post.county
      status: "SUCCEEDED"
      phase: "Submit"
      step: "CheckTransactionStatus"
      taskToken.$: $.transactionStatusCheck.taskToken
      errors: []
    ResultPath: $.eventDetail
    Next: EmitTransactionStatusSucceeded

  EmitTransactionStatusSucceeded:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:eventbridge:putEvents
    Parameters:
      Entries:
        - Source: elephant.workflow
          DetailType: WorkflowEvent
          Detail.$: States.JsonToString($.eventDetail)
    ResultPath: $.eventResult
    Next: WorkflowComplete
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.eventError
        Next: WorkflowComplete

  PrepareTransactionStatusFailedDetail:
    Type: Pass
    Parameters:
      executionId.$: $$.Execution.Id
      county.$: $.post.county
      status: "FAILED"
      phase: "Submit"
      step: "CheckTransactionStatus"
      taskToken.$: $.transactionStatusError.taskToken
      errors:
        - code: "TRANSACTION_STATUS_CHECK_FAILED"
          details:
            error: "Transaction status check failed"
    ResultPath: $.eventDetail
    Next: EmitTransactionStatusFailed

  EmitTransactionStatusFailed:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:eventbridge:putEvents
    Parameters:
      Entries:
        - Source: elephant.workflow
          DetailType: WorkflowEvent
          Detail.$: States.JsonToString($.eventDetail)
    ResultPath: $.eventResult
    Next: WorkflowComplete
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.eventError
        Next: WorkflowComplete

  PrepareSubmitFailedDetail:
    Type: Pass
    Parameters:
      executionId.$: $$.Execution.Id
      county.$: $.post.county
      status: "FAILED"
      phase: "Submit"
      step: "Submit"
      taskToken.$: $.submitError.taskToken
      errors:
        - code: "SUBMIT_FAILED"
          details:
            error: "Submit to blockchain failed"
    ResultPath: $.eventDetail
    Next: EmitSubmitFailed

  EmitSubmitFailed:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:eventbridge:putEvents
    Parameters:
      Entries:
        - Source: elephant.workflow
          DetailType: WorkflowEvent
          Detail.$: States.JsonToString($.eventDetail)
    ResultPath: $.eventResult
    Next: RecordSubmitFailureMetric
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.eventError
        Next: RecordSubmitFailureMetric

  RecordSubmitFailureMetric:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:cloudwatch:putMetricData
    Parameters:
      Namespace: ElephantWorkflow
      MetricData:
        - MetricName: WorkflowExecution
          Value: 1
          Unit: Count
          Timestamp.$: $$.State.EnteredTime
          Dimensions:
            - Name: Status
              Value: SubmitFailure
    ResultPath: $.metricResult
    Next: FailRuntime
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.metricError
        Next: FailRuntime

  WorkflowComplete:
    Type: Succeed

  FailRuntime:
    Type: Fail
    Error: WorkflowFailed
    Cause: A task failed. See error field.
