workflow/state-machines/property-improvement.asl.yaml
Comment: Property Improvement workflow. Simplified flow for property improvement processing.
StartAt: Preprocess
States:
  Preprocess:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName: ${PropertyImprovementPreProcessorFunction}
      Payload.$: $.message
    ResultSelector:
      input_csv_s3_uri.$: $.Payload.input_csv_s3_uri
      output_prefix.$: $.Payload.output_prefix
      county_name.$: $.Payload.county_name
      county_key.$: $.Payload.county_key
    ResultPath: $.pre
    Next: Prepare
    Retry:
      - ErrorEquals:
          [
            Lambda.ServiceException,
            Lambda.AWSLambdaException,
            Lambda.SdkClientException,
          ]
        IntervalSeconds: 2
        MaxAttempts: 2
        BackoffRate: 2
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.error
        Next: FailRuntime

  Prepare:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName: ${PropertyImprovementPrepareFunction}
      Payload:
        input_csv_s3_uri.$: $.pre.input_csv_s3_uri
        output_s3_uri_prefix.$: $.pre.output_prefix
        county_name.$: $.pre.county_name
        use_browser: true
    ResultSelector:
      output_s3_uri.$: $.Payload.output_s3_uri
    ResultPath: $.prepare
    Next: Postprocess
    Retry:
      - ErrorEquals:
          [
            Lambda.ServiceException,
            Lambda.AWSLambdaException,
            Lambda.SdkClientException,
          ]
        IntervalSeconds: 5
        MaxAttempts: 3
        BackoffRate: 2
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.error
        Next: FailRuntime

  Postprocess:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName: ${PropertyImprovementPostProcessorFunction}
      Payload:
        input_csv_s3_uri.$: $.pre.input_csv_s3_uri
        prepare_output_s3_uri.$: $.prepare.output_s3_uri
        output_prefix.$: $.pre.output_prefix
        county_name.$: $.pre.county_name
    ResultSelector:
      items.$: $.Payload.transactionItems
    ResultPath: $.post
    Next: QueueForTheSubmit
    Retry:
      - ErrorEquals:
          [
            Lambda.ServiceException,
            Lambda.AWSLambdaException,
            Lambda.SdkClientException,
          ]
        IntervalSeconds: 5
        MaxAttempts: 2
        BackoffRate: 2
    Catch:
      - ErrorEquals: [States.ALL]
        ResultPath: $.error
        Next: FailRuntime

  QueueForTheSubmit:
    Type: Task
    Resource: arn:aws:states:::sqs:sendMessage
    Parameters:
      QueueUrl: ${TransactionsSqsQueueUrl}
      MessageBody.$: "States.JsonToString($.post.items)"
    ResultPath: null
    End: true

  FailRuntime:
    Type: Fail
    Error: WorkflowFailed
    Cause: A task failed. See error field.





